<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: REVIEW OF WEBINAR: WORKING WITH GIT &#038; GITHUB</title>
	<atom:link href="https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/feed/" rel="self" type="application/rss+xml" />
	<link>https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/</link>
	<description></description>
	<lastBuildDate>Sun, 05 Jul 2020 21:55:59 +0545</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.10</generator>
</channel>
</rss>
