<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>achs &#8211; ACHS College</title>
	<atom:link href="https://achsnepal.edu.np/author/iims/feed/" rel="self" type="application/rss+xml" />
	<link>https://achsnepal.edu.np</link>
	<description></description>
	<lastBuildDate>Mon, 15 Jun 2020 12:57:12 +0545</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.10</generator>

<image>
	<url>https://achsnepal.edu.np/wp-content/uploads/2019/07/cropped-ACHS-logo-used-32x32.png</url>
	<title>achs &#8211; ACHS College</title>
	<link>https://achsnepal.edu.np</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>REVIEW OF THE WEBINAR: AI &#038; ML: WHAT&#8217;S IN IT FOR EVERYONE?</title>
		<link>https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/</link>
		<comments>https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/#respond</comments>
		<pubDate>Sat, 13 Jun 2020 08:20:10 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3217</guid>
		<description><![CDATA[<p>The webinar on “AI and ML: What’s in it for everyone?” by Ms. Aditi Gajurel, ML Engineer Associate, FuseMachines, conducted on June 10, 2020 was organized by Asian College of Higher Studies (ACHS) . The session introduced us about AI and ML. She discussed on what is AI, how has AI developed, where are the [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/">REVIEW OF THE WEBINAR: AI &#038; ML: WHAT&#8217;S IN IT FOR EVERYONE?</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>The webinar on “<strong>AI and ML: What’s in it for everyone?</strong>” by <strong>Ms. Aditi Gajurel, ML Engineer Associate, FuseMachines</strong>, conducted on <strong>June 10, 2020</strong> was organized by A<strong>sian College of Higher Studies (ACHS)</strong> .</p>



<p>The session introduced us about AI and ML. She discussed on what is AI, how has AI developed, where are the fields in which AI can be used, why is AI important and the threats of AI. She also discussed about narrow, general and super AI. She included some of the AI used in our daily life like: recommender system, automatic spam detection in email e.t.c. She explained about how AI has evolved from 60’s to present, from evolution of telescope to the Sophia robot. Humans are good in logic and machines are good at computation so the integration between these two factor can help to build powerful AI relating with AlphaGo competition. At the end, she gave some ideas about the resources to start who are interested in AI. Overall session was very interactive and fruitful. </p>



<p>Lastly, I would like to thank <strong>Ms. Aditi Gajurel</strong> for giving us helpful information about AI and ML and also to our college, A<strong>sian College of Higher Studies</strong> for organizing such aN interactive and helpful webinar which has helped us a lot to gain knowledge about AI and ML.</p>



<p><strong>Suchita Shakya, CSIT 7th Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>The  event &#8220;<strong>AI and ML: What&#8217;s in it for everyone?</strong>&#8221; was organized on <strong>10th  July, 2020</strong> and I personally would like to thank both our college and <strong>Ms.  Aditi Gajurel </strong>for conducting this event.</p>



<p>This  event discussed the what, when, how and why of AI along with threats of AI. The event also discussed past development of AI, the present scenario and what&#8217;s in store for AI in the future. </p>



<p>Discussions  on the impact of AI on our daily lives, research, technology and how it will bring about revolution in the future freeing us from mental labor of doing repetitive mundane tasks was the highlight of the event. It was a highly interactive, intuitive and insightful event. </p>



<p>This  event was a great introduction to machine learning and Artificial  Intelligence for any student willing to get into these fields. </p>



<p><strong>Nabin GC, CSIT 7th Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>As the seminar have been held by our college <strong>ACHS</strong> every Sunday and Wednesday this Wednesday <strong>June 10, 2020 </strong>was the session regarding to  <strong>Artificial Intelligence and Machine learning (AI and ML)</strong> where the session was taken by ML Engineer Associate of Technology and FuseMachines <strong>Ms.</strong> <strong>Aditi Gajurel</strong>.</p>



<p>The session included basic definition of AI and ML, Types of AI and ML, why we need AI, view of AI and ML and its threat. The whole session was conducted through the discussion over different view, ideas and thinking about above topic. Different basic as well as new term and ideas were raised and discussed. Various fact and ongoing situation on AI and ML was discussed. At the end the tips and some knowledge about starting career on AI was also provided. The session was simple, basic but full of different amazing and curious topic which built the platform learning for something new and something deep about the AI and ML. </p>



<p>The session was very fruitful where the idea of starting career in AI for interested student was also provided. I personally found this seminar very fruitful and helpful.  I am  heartily thankful to <strong>Ms. Aditi Gajurel</strong> and our college authorities for conducting this seminar. </p>



<p><strong>Sanjay Shrestha, CSIT 5th Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>The session on topic &#8220;<strong>AI and ML: what&#8217;s in it for Everyone?</strong>&#8221; was fruitful for students who is new and interested in technology, organized by <strong>ACHS College</strong>, on <strong>10th June 2020  </strong>mentored by <strong>Ms. Aditi Gajurel, Associate ML Engineer </strong>at <strong>Fusemachines</strong>. </p>



<p>From this webinar I got to know about many unknown terminology related to Artificial Intelligence and Machine Learning and also clarified my many misconceptions related to these topics. <strong>Ms. Aditi Gajurel</strong> started this session by some basic questions like What AI is, Why we need AI, Where we can use AI and How AI is going to change the world. Also while going through these questions she asked us what we think about these questions, which made this session more interactive. She also cleared the doubts of many students in between the session.</p>



<p>Overall, this session was very informative. This session made me to realize that automation is going to be new electricity which is going to revolutionize the advanced world. Finally, I would like to express my gratitude towards <strong>Ms. Aditi Gajurel</strong> to give us her time and also I would like to thank <strong>ACHS </strong>college for organizing such a wonderful webinar. </p>



<p><strong>Saurab Tharu, CSIT 1st semester.  </strong></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/">REVIEW OF THE WEBINAR: AI &#038; ML: WHAT&#8217;S IN IT FOR EVERYONE?</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>REVIEW OF WEBINAR: GETTING HANDS-ON WITH R</title>
		<link>https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/</link>
		<comments>https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/#respond</comments>
		<pubDate>Mon, 08 Jun 2020 08:52:41 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3205</guid>
		<description><![CDATA[<p>Our college has been doing webinars on every Sunday and Wednesday on different topics. This Sunday, we had two days&#8217; session on June 5th and 6th on &#8216;Getting hands-on with R&#8216; by Mr. Binot Jung Bogati He is an alumnus of our college who is a data scientist and data miner. The session was informative [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/">REVIEW OF WEBINAR: GETTING HANDS-ON WITH R</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>Our college has been doing webinars on every Sunday and Wednesday on different topics. This Sunday, we had two days&#8217; session on June 5th and 6th on &#8216;<strong>Getting hands-on with R</strong>&#8216; by <strong>Mr. Binot Jung Bogati</strong></p>



<p>He is an alumnus of our college who is a data scientist and data miner. The session was informative for ACHS&#8217;s students as well as for attendees from outside the college. In these two days, we learnt the basics of R of programming and its uses, data loading, packages installing and importing and data visualizing. We started this session from very basic, like the use of R studio to data loading and visualizing. </p>



<p>I learned that R is a programming language and free software environment for statistical computing and graphics which is widely used among statisticians and data miners for developing statistical software and data analysis. In addition to this, he also explained the debugging in R studio, build-in function in R language, and also gave resource material to learn more about the R programming</p>



<p>This session was very fruitful for a student like me who didn&#8217;t have any knowledge of R programming and R studio. I would like to thank our mentor <strong>Mr. Binot Jung Bogati</strong> for your precious time, giving the resources and insight on R and our collage management team for creating such a teaching and learning environment and making this time productive. Looking forward to more such webinars</p>



<p><strong>Lhakpa Dolma Sherpa, BCA 3rd Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;-</p>



<p>Coming to the webinar with no prior knowledge of R, I did not feel pressured as the pace of the session was to my preference. I appreciate the resources <strong>Mr. Binod Jung Bogati</strong>, the resource person had prepared for us so that we could follow along.</p>



<p>I cannot say that I have developed complete knowledge of R in the 4+ hours, that would undermine R. But I can say for sure that I have   developed a good foundation in these 2 sessions. These sessions were   definitely resourceful.  </p>



<p><strong>Momik Shrestha, BCA 3rd Semester.<br></strong></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/">REVIEW OF WEBINAR: GETTING HANDS-ON WITH R</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>REVIEW OF WEBINAR: WORKING WITH GIT &#038; GITHUB</title>
		<link>https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/</link>
		<comments>https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/#respond</comments>
		<pubDate>Wed, 03 Jun 2020 20:50:14 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3196</guid>
		<description><![CDATA[<p>Our college, Asian College of Higher Studies has been organizing webinars for the past few weeks . The webinar  on  ‘Working with Git and Github’ by  Mr. Diwash Shrestha conducted on May 30 ,2020 was fruitful. This event has helped to know about working of Git. In this session, Mr Diwash Shrestha gave a explanation [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/">REVIEW OF WEBINAR: WORKING WITH GIT &#038; GITHUB</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>Our college, <strong>Asian College of Higher Studies</strong> has been organizing webinars for the past few weeks . The webinar  on  <strong>‘Working with Git and Github</strong>’ by  <strong>Mr.</strong> <strong>Diwash Shrestha </strong>conducted on <strong>May 30 ,2020</strong> was fruitful. This event has helped to know about working of Git.</p>



<p>In this session<strong>, Mr Diwash Shrestha</strong> gave a explanation on each of the terminology  that are involved in Git like cloning, branch, pull request, merge. He also explained about the important commands that are involved in running a Git.</p>



<p>I was pleased to know about how Git plays an important role for the software developers. While working in a project, teamwork is done with the help of Git. Git is a Distributed model means your work is your own. You can let others see only what is necessary. Not everything has to be public. </p>



<p>At the end <strong>Mr Shrestha </strong>assigned some task. Overall it was a interactive session. I am grateful and proud to be a member of <strong>ACHS </strong>family and would like to thank our management team for organizing such  a session in this difficult times. In future, I aim to participate in these sort of educational events and encourage my college to organize more creative programs in future.</p>



<p><strong>Kritam Dangol , CSIT 7th Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>This webinar was really helpful to me in many ways. It showed me the way to work efficiently with my friends on different aspects of a project. Unlike different <strong>Youtube </strong>videos, which at some point show language as an obstacle to education, it was simple to understand. </p>



<p>It might have been because of the similarity he faced in our phase in past. He was more open-minded and welcoming towards questions regarding the topic. This made the class more interactive and operative, is what I think at least for me. The fundamentals of anything should always be strong for further progress and this webinar did the same for me as it helped me to grasp the basic of <strong>GIT </strong>and <strong>GITHUB</strong>. It will assist me greatly in future. I hope it is same for other too.</p>



<p><strong>Smaran Sapkota, CSIT 1st Semester.</strong></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/">REVIEW OF WEBINAR: WORKING WITH GIT &#038; GITHUB</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/06/03/review-of-webinar-working-with-git-github/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>REVIEW OF WEBINAR: MYTHS &#038; REALITIES OF DIGITAL MARKETING</title>
		<link>https://achsnepal.edu.np/2020/05/26/review-of-webinar-myths-realities-of-digital-marketing/</link>
		<comments>https://achsnepal.edu.np/2020/05/26/review-of-webinar-myths-realities-of-digital-marketing/#respond</comments>
		<pubDate>Tue, 26 May 2020 11:02:11 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3184</guid>
		<description><![CDATA[<p>The webinar on “Myths and Realities of Digital Marketing” by Mr. Ullekh Niraula conducted on May 24,2020 organized by Asian College of Higher Studies has helped to know about the digital world and the common misunderstanding that arises on digital marketing. We have heard about term digital marketing in our daily life and limited it [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/05/26/review-of-webinar-myths-realities-of-digital-marketing/">REVIEW OF WEBINAR: MYTHS &#038; REALITIES OF DIGITAL MARKETING</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>The webinar on “<strong>Myths and Realities of Digital Marketing</strong>” by <strong>Mr. Ullekh Niraula</strong> conducted on <strong>May 24,2020 </strong>organized by <strong>Asian College of Higher Studies </strong>has helped to know about the digital world and the common misunderstanding that arises on digital marketing.</p>



<p>We have heard about term digital marketing in our daily life and limited it to Facebook boosting or marketing from the social media but that is not all about it. Digital marketing such as Search Engine Optimization (SEO), content marketing, influencer marketing, social media marketing and optimization, e-mail marketing, displays various kind of advertisement, games which are common in our daily life and we prefer to use. It’s main idea is to capture the targeted customer through the WhatsApp and Facebook and the increasing use of social media is creating new opportunities for digital marketers to attract the customer through digital platform. It is cost effective and have commercial impact in business. </p>



<p>In this session which was provided by <strong>Mr. Ullekh Niraula</strong> who showed complete demonstration of all the technicalities used in digital marketing was very fruitful to the one pursuing the career and also to those who wants to have basic idea and do some things themselves without the need of the others. Since <strong>Mr. Niraula</strong> avoided the theoretical concept and showed up practical demonstration the session was very much intriguing. </p>



<p>He gave us brief idea on how we can use the services and prerequisites<br>for doing such task which cleared all our false concepts about digital marketing which we have been building up till now. So, I found this webinar to be the most fruitful to every student as everything was described in such a fascinating and easy manner so that every<br> one could understand it very simply.</p>



<p>Lastly, I would like to express my gratitude to <strong>Asian college of Higher Studies </strong>for organizing such events and taking time to search the right person suitable for presenting of the topics amidst the problem that is currently occurring worldwide. Again, with deep gratitude I want to thank <strong>Mr. Ullekh Niraula</strong> for providing information in such clear manner and removing ambiguity about the digital marketing.</p>



<p><strong>Yours sincerely,<br> Sagar Dulal, CSIT 7th Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>On <strong>24th May, 2020</strong> the webinar was conducted by <strong>Asian  Collage of Higher Studies</strong> on “<strong>Myths &amp; Realities of Digital Marketing</strong>  “ which was mentored by<strong> Mr. Ullekh Niraula</strong>, the <strong>CEO </strong>of <strong>Digital Gurkha</strong>. Extremely informative seminar that will undoubtedly influence my manuscript writing from now on. In  this session, the resource person <strong>Mr.Ullekh Niraula</strong> introduced us about what digital marketing is. According to him, digital marketing is the component of marketing that utilizes internet and online based digital technologies such as desktop computers, mobile phones and other  digital media to promote products and services. </p>



<p>Similarly he also made us clear about how it works. According to him, Digital marketing uses  various strategies to reach one key goal through different routes. Similarly, all digital marketing strategies work together to generate traffic, create awareness and transform leads into loyal customers for  the business. Furthermore, he also explained us about benefits and types of  digital marketing. As per him, I came to know that digital  marketing helps to target our ideal buyers. It also helps us to connect  with mobile customers. Also a properly planned  and well targeted  digital marketing campaign can reach the right customers at a much lower  cost than traditional marketing methods. </p>



<p>Also, he mentioned the types of  digital marketing such as Search engine optimization, Email marketing, Online Marketing, Smartphone Marketing. He also cleared the doubts of  students in Q/A part of the session . Attending this webinar was really  beneficial.</p>



<p>Lastly  I would like to express my gratitude to collage administration for  organizing such an amazing  webinar  which could help every student in  future who attended the webinar. Similarly, I would like to thank <strong>Mr. Ullekh Niraula</strong> for providing us information about myths and realities of digital marketing. Hope to see more webinars in future.</p>



<p><strong>With regards,  </strong><br><strong>Hemraj Deep Budhathoki, CSIT 3rd semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211; </p>



<p>Overall the webinar was good. His way to truthfully present the world of digital marketing gave some useful insights on what digital marketing is? And how it works? For some people like me who are very new to this topic it was quite fascinating to see how digital marketing works in real time, how feasible it can be for Nepali market. </p>



<p>The take away for me form the webinar was digital marketing is just another form of marketing with the help of different platform. We still require marketing skill which relates to management and knowledge of management is also important though we are students of science.</p>



<p>Complying with he said I also think it is an easy to get subject also going through his sentences I can now put digital marketing in my “seek to” list for career in Nepal.</p>



<p><strong>Sumit Gupta, CSIt 1st Semester.</strong></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/05/26/review-of-webinar-myths-realities-of-digital-marketing/">REVIEW OF WEBINAR: MYTHS &#038; REALITIES OF DIGITAL MARKETING</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/05/26/review-of-webinar-myths-realities-of-digital-marketing/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>REVIEW OF WEBINAR: HOW STUDENTS CAN BENEFIT FROM MICROSOFT IN EDUCATION</title>
		<link>https://achsnepal.edu.np/2020/05/20/review-of-webinar-how-students-can-benefit-from-microsoft-in-education/</link>
		<comments>https://achsnepal.edu.np/2020/05/20/review-of-webinar-how-students-can-benefit-from-microsoft-in-education/#respond</comments>
		<pubDate>Wed, 20 May 2020 14:22:00 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3172</guid>
		<description><![CDATA[<p>The webinar on “How Students Can Benefit From Microsoft In Education” was organized by Asian College of Higher Studies on May 20, 2020. The resource person was Mr. Deependra Bajracharya, the Business Development Manager of Microsoft Operations Pte. Ltd. Although, we all use different products of Microsoft in our daily life, we are not all [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/05/20/review-of-webinar-how-students-can-benefit-from-microsoft-in-education/">REVIEW OF WEBINAR: HOW STUDENTS CAN BENEFIT FROM MICROSOFT IN EDUCATION</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>The webinar on “<strong>How Students Can Benefit From Microsoft In Education” </strong>was organized by <strong>Asian College of Higher Studies </strong>on<strong> May 20, 2020. </strong>The resource person was <strong>Mr. Deependra Bajracharya</strong>, the Business Development Manager of Microsoft Operations Pte. Ltd.</p>



<p>Although, we all use different products of Microsoft in our daily life, we are not all aware about the plans, platforms and events provided by Microsoft. I think this session gave us the vision of how we could use Microsoft products to build a path to our career. He told us about the special plans for students such as Office 365 for Education where we can get free subscription of Microsoft office tools (Word, Excel, PowerPoint, OneNote, Outlook) and services (OneDrive, Team, Sway, etc.), learning platform where students can practice Machine Learning, AI, and SQL Database projects in real time and Microsoft Startup plan. We also got to know about Microsoft Learn Student Ambassadors and also the competitive event, Imagine Cup where students can submit their project ideas and compete with the students from around the world. He also gave us the brief overview on how we can use the products and services online. He also cleared the doubts of the students in the QA (Question/Answer) part of session. Overall, this session was very informative and interactive. Attending this webinar was really beneficial.</p>



<p>Lastly, I would like to express my gratitude to the college administration for organizing the webinars to help students gain knowledge about different fields and platforms in IT and choose the right path for their career even in this pandemic situation. Also, I want to thank <strong>Mr. Deependra Bajracharya</strong> for providing us the information about Microsoft products and services and how we students can get the most from it.  <br><strong>Thank You!</strong> </p>



<p><strong>Maria Dhakal, CSIT 7<sup>th</sup> semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>On <strong>20 May 2020</strong>, there was webinar titled as “<strong>How Students Can Benefit from Microsoft in Education</strong>” which was informative and exciting session. This session was mentored by <strong>Mr. Deependra Bajracharya</strong>, the <strong>Business Development Manager </strong>at <strong>Microsoft Operation Pte. Ltd</strong>.</p>



<p>In this session, I got to know about Microsoft product, an event which I didn’t know before this session. He shared us about Imagine Cup which is hosted by Microsoft where student from all over globe participate, he also taught us how to register in that competition. He also explained us Azure for Student from Microsoft which allows student to use some of Microsoft tools or products for free. </p>



<p>Further, he mentioned some of the feature of Microsoft teams and Yammer. At last, this session was informative where I got to know a lot about Microsoft products and different event organized for student to learn. I would like to thank ACHS college for organizing these kind of webinars which is beyond academic course hope to see more webinar in future.</p>



<p><strong>Rohit Prajapti, BCA 1st semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;  </p>



<p>Our college, <strong>Asian College of Higher Studies</strong> has been organizing many webinars to make us engaged in learning new technologies even during these lockdown days. On <strong>20th May, 2020</strong> an informative web-based webinar &#8220;<strong>HOW STUDENTS CAN BENIFIT FROM MICROSOFT IN EDUCATION</strong>&#8221; was organized by <strong>ACHS </strong>college and presented by <strong>Mr. Deependra Bajracharya</strong>, <strong>Business Development Manager</strong> at <strong>Microsoft Operation Pve. Ltd.</strong></p>



<p>In this webinar, the resource person &#8220;<strong>Mr. Deependra Bajracharya</strong>&#8221; introduced us to many tools of <strong>Microsoft 365</strong> that are being provided by Microsoft for the education sector for free. Along with this he taught us how can we have access those tools and being benefited by using them. With this I got to know about the Imagine Cup which is the annual worldwide competition related to technology which addresses the toughest problem and also applying process for it. In addition, I got to know many technologies that I was unaware of.</p>



<p>At the end we put our queries and he addressed our confusions regarding Microsoft for Education. This session turned out to be very much productive and fruitful for all the IT students as well as non-IT students. Lastly, I would like to thank <strong>Mr. Deependra Bajracharya</strong> sir for such an effective webinar and <strong>ACHS </strong>college for organizing this webinar and I am so much grateful to be part of it.</p>



<p><strong>With Regards, </strong> <br><strong>﻿Saurab Tharu, CSIT 1st Semester.</strong> </p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/05/20/review-of-webinar-how-students-can-benefit-from-microsoft-in-education/">REVIEW OF WEBINAR: HOW STUDENTS CAN BENEFIT FROM MICROSOFT IN EDUCATION</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/05/20/review-of-webinar-how-students-can-benefit-from-microsoft-in-education/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>REVIEW OF WEBINAR REALITY CHECK: IT GRADUATES</title>
		<link>https://achsnepal.edu.np/2020/05/18/review-of-webinar-reality-check-it-graduates/</link>
		<comments>https://achsnepal.edu.np/2020/05/18/review-of-webinar-reality-check-it-graduates/#respond</comments>
		<pubDate>Mon, 18 May 2020 08:44:34 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3150</guid>
		<description><![CDATA[<p>While there&#8217;s pandemic going in whole world, our college has been organizing many exciting and fruitful sessions which keeps us engaged in learning more and efficiently even during these days of lock-down. An interactive session on 17th May, 2020 mentored by Mr. Sishir Thapa with the name &#8220;Reality Check :IT graduates” turned out to be [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/05/18/review-of-webinar-reality-check-it-graduates/">REVIEW OF WEBINAR REALITY CHECK: IT GRADUATES</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p> While there&#8217;s pandemic going in whole world, our college has been organizing many exciting and fruitful sessions which keeps us  engaged in learning more and efficiently even during these days of  lock-down. An interactive session on <strong>17th May, 2020</strong>  mentored by <strong>Mr. Sishir Thapa </strong>with the name &#8220;<strong>Reality Check :IT graduates</strong>”  turned out to be a prolific for each of the IT enthusiast who were lucky  to attend.</p>



<p>He was very  frank and friendly to share his experience. With the help of his simple and wonderful slides, he progressed through the webinar by talking on each and  every prospective such as importance of college degree, internships, side projects and many more. He also suggested us to make strong  networking with others by participating in hackathons, workshops, and others.</p>



<p>Some handy tips he shared with us:</p>



<p>=&gt; Don&#8217;t hesitate to ask for help, ask for help only after you&#8217;ve done much research about the topic but still you cannot figure out the problem<br>=&gt; Never hesitate to learn new technology, do not stick to the technology that you know                                                                                                                     =&gt; Try to adapt to technology according to the company. Make habit of reading blogs and documentation.                                                                                                                                         =&gt; Make habit of reading blogs and documentation                                                                       =&gt; Develop communication, planning, documentation &amp; management skills,&nbsp;And many more.<br><strong>Thank you!!! </strong></p>



<p><strong>Suman Sijapati, CSIT 7th Semester. </strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>



<p>A webinar on &#8220;<strong>REALITY CHECK : IT GRADUATES</strong>&#8221; was conducted by <strong>ACHS</strong> college and presented by <strong>Mr. Shishir Thapa</strong>, a software engineer at <strong>Danphe Software Labs</strong> and one of the former students of <strong>ACHS</strong> college on <strong>17th May, 2020</strong>. </p>



<p>In the session, he discussed about the real world scenarios faced by us, the IT graduates. It was very interesting and informative session. The way he presented with relating the topic to his experience bound us to listen. It was really effective for us, IT students struggling with questions like what to do and how to start. He shared us his experiences of how he learned from small projects. So, he encouraged us to learn anything and start doing small projects on it. Also, he shared how he learned from for his mistake and how we should not hesitate to ask and learn at any time. </p>



<p>He showed how networking plays great role in our success and how lack of networking can be a big disadvantage. He also shared the fact that we are not bound to be staying behind our laptop 24/7 and we need to be more outgoing and willing to learn more. This has been an amazing opportunity for us to be able to hear to the experience from someone who has faced the real world scenario. I am really grateful towards <strong>ACHS</strong> college for organizing such session during this lockdown period and Mr. Shishir Thapa for such insightful presentation. </p>



<p><strong>Pragya Shakya, CSIT 5th Semester. </strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211; </p>



<p>Our college, <strong>ACHS </strong>had arranged a webinar on <strong>May 17, 2020</strong> on the topic &#8220;<strong>REALITY CHECK: IT GRADUATES</strong>&#8220;. Since it was not possible for a face to face session due to the recent outbreak, so it was held on the <strong>Google Meet</strong> app. It was attended by the students from our college of all semesters. It was a 2 hours long session by <strong>Mr. Shishir Thapa</strong>, a <strong>Software Engineer </strong>at <strong>Danphe Software Labs</strong> who graduated <strong>B. Sc. CSIT </strong>from <strong>ACHS </strong>college. </p>



<p>In this webinar <strong>Mr. Shishir Thapa</strong> passed on his journey after college to a professional work life. He used a presentation to talk about the ways of various IT companies on hiring interns. He also shared his experience about job interviews and working at <strong>Leapfrog</strong>. He spoke about his mistakes and guided us on overcoming those mistakes and avoiding them. He enlightened us to never stop learning, no matter what we do or where we go in life and to take every chance we can to learn. It can be anything, or what your heart desires but just never pass an opportunity to learn. </p>



<p>He also taught that we should find a mentor in every step of our career and listen to their advice to keep growing our skills. Moreover, he gave us tips on succeeding in our field.  Near the end of the session, we were free to ask him questions. On answering some, he advised us to get out of our comfort zone and build a network for a better chance of triumph. To sum this up, I would like to express my gratitude to our college and <strong>Mr. Shishir Thapa</strong> for organizing such productive plenary during this lockdown and I am delighted to be a part of this. </p>



<p><strong>Ojashwi Shrestha, CSIT 1st Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;  </p>



<p><strong>Asian College of Higher Studies</strong> has been organizing series of webinars for its students. &#8216;<strong>Reality Check: IT Graduates</strong>&#8216; was the topic for webinar held on <strong>17th May, 2020</strong> on <strong>Google Meet </strong>platform. The Resource Person for this session was <strong>Mr. Shishir Thapa</strong>, <strong>Software Engineer</strong> at<strong> Danphe Software Labs.</strong></p>



<p>In the session &#8216;<strong>Reality Check: IT Graduates</strong>&#8216; was very informative and entertaining. Listening to his experience in IT field from a bachelor student to a Job holder was full of information to us. I liked the way he placed out the mistakes he made while he was working and made us aware not to make such mistakes. He also talked about how we should be learning and not to hesitate to ask others. He told that how freelancing on other side of jobs and working with different contents can help increase our skills</p>



<p>In the end, Question and Answer session was held where he cleared all the doubts of students who raised the questions. This session has helped us to look for our brighter future. Thanks to <strong>Mr. Shishir Thapa</strong> for conducting such a beneficial session. I would also like to thank <strong>ACHS </strong>College for organizing such Webinars for students to learn more.</p>



<p><strong>Nhujan Maharjan, BCA 1st Semester.</strong></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/05/18/review-of-webinar-reality-check-it-graduates/">REVIEW OF WEBINAR REALITY CHECK: IT GRADUATES</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/05/18/review-of-webinar-reality-check-it-graduates/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
