@media (max-width: 1600px) {
    .menu-wrap .menu-links {
        padding: 80px 0px 0;
    }
}

@media (max-width: 1349px) {
    .big-banner {
        height: 420px !important;
    }

    .big-banner .hero-image img {
        width: 750px;
        height: 400px;
        object-fit: cover;
    }
    .info-sinppet{
        margin-top: 20px;
    }

    .hero-image {
        right: 0px;
    }

    .info-area-right {
        padding-right: 120px;
    }
    .top-header ul li ul.sub-menu {
        width: 800px;
    }
}

@media (max-width: 1200px) {
    .top-header ul li a,
    .mt-enroll {
        font-size: 15px;
    }

    .inner-caption h2.news-title {
        margin: 20px 0;
        font-size: 30px;
        line-height: 38px;
    }

    .big-banner .hero-image img {
        width: 650px;
        height: 420px;
    }


    .info-sinppet {
        margin-top: 20px;
        width: 100%;
    }

    section {
        padding: 60px 0;
    }

    .course-nav {
        display: none;
    }

    .top-header ul li {
        margin: 0;
        padding: 0;
    }

    .top-header .navbar-light .navbar-nav .nav-link {
        padding: 0 7px;
    }

    .mt-enroll {
        margin-left: 10px;
    }

    .slider-image figcaption h1 {
        font-size: 2rem;
        line-height: 40px;
    }

    .slider-image p {
        font-size: 18px;
    }

    #mt-video a img {
        min-height: 200px;
    }

    #mt-video .icon i.far {
        font-size: 50px;
        color: #fff;
    }

    #inner-banner h3 {
        font-size: 30px;
    }

    .mt-institutes li {
        width: 20%;
    }

    .menu-wrap .menu-links {
        padding: 50px 30px 0;
    }

    .heading {
        font-size: 20px;
    }

    #facilities .slider-image figure figcaption {
        position: absolute;
        top: auto;
        left: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateX(-50%);
        max-width: 500px;
        padding: 40px;
        background: rgba(194, 58, 58, 0.8);
        z-index: 999;
        bottom: 40px;
    }

    .home-feature img {
        height: 140px;
    }
    .top-header ul li ul.sub-menu{
        width: 700px;
    }
    .mt-job table {
        text-align: left;
        width: 900px;
    }
}

@media (max-width: 991px) {
    .logo-sec figure img {
        width: 110px;
    }

    .home-feature img {
        height: 100px;
    }

    .blog_image {
        height: 180px;
        overflow: hidden;
    }
    .big-banner .inner-caption,
    .logo-sec figure span img {
        display: none;
    }

    .inner-caption h2.news-title {
        margin: 15px 0;
        font-size: 26px;
        line-height: 32px;
    }

    .menu-wrap .menu-links {
        padding: 50px 0px 0;
    }

    .news-image img {
        height: 230px;
    }

    #info-area {
        padding: 0 60px;
    }

    .info-area-left {
        margin-bottom: 40px;
    }

    #gallery .img-thumbnail {
        height: 160px;
    }

    .mt-institutes li {
        width: 30%;
        min-height: 180px;
    }

    .course-features {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .course-meta {
        width: 33.33333%;
    }

    .mt-notifications.mt-course li {
        width: 100%;
        margin: 0 0 15px;
    }

    .mt-notifications li h3 {
        margin: 0;
    }

    #testimonial-lists {
        padding: 0;
        margin-top: 40px;
    }

    .progress-table-wrap {
        overflow-x: scroll;
        margin-bottom: 40px;
    }

    #sticky-social {
        display: none;
    }

    .mt-enroll svg {
        fill: #fff;
    }

    #collapsibleNavbar {
        display: block;
    }

    #slider-lists img {
        height: 500px;
    }

    section#section-3 {
        padding-top: 40px;
    }

    #mt-video a img {
        min-height: 160px;
    }

    section#section-4 #mt-video h4 a {
        color: #fff;
        margin-top: 20px;
        display: inline-block;
        font-size: 16px;
        line-height: 28px;
    }

    section {
        padding: 60px 0;
    }

    .mt-gallery a {
        padding: 5px;
    }

    img.gallery-thumb {
        height: 60px;
    }

    #slider-lists .owl-nav .owl-prev,
    #slider-lists .owl-nav .owl-next {
        width: 30px;
        left: 30px;
    }

    #slider-lists .owl-nav .owl-next {
        left: auto;
        right: 30px;
    }

    section#section-4 .mt-content,
    #section-7 .mt-content {
        padding: 0;
        margin: 0;
    }

    #section-4 {
        padding: 80px 0;
    }

    #section-1 .mt-content,
    #section-2 .mt-content,
    #section-3 .mt-content,
    #section-4 .mt-content,
    #section-5 .mt-content,
    #section-6 .mt-content,
    #section-7 .mt-content {
        margin: 0;
        padding: 0;
    }

    #inner-banner {
        height: 400px;
    }

    h2 {
        font-size: 1.6rem;
    }

    .intro-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .nav-sidebar li a,
    p {
        font-size: 15px;
    }

    .mt-map {
        padding-right: 15px;
    }

    .mt-map iframe {
        height: 180px;
    }

    .form-field input {
        width: 100%;
        height: 45px;
        line-height: 45px;
    }

    .col-md-3.col-sm-6.form-field {
        padding: 0 7px;
    }

    .tab-content {
        padding: 0;
    }

    .faq ul li h6 {
        font-size: 18px;
        line-height: 30px;
    }

    #section-2 #mt-video {
        padding: 15px;
        margin: 0 auto;
    }

    #section-2 #mt-video a img {
        min-height: 170px;
    }

    .mt-courses .activity-image {
        margin: 0 12px 0px;
    }

    #news-lists .activity-image img {
        height: 300px;
    }

    .blog-section {
        margin-top: 60px;
    }
     .mt-news-section {
         display: none;
     }
     .menu-wrap{
         left: 0;
     }
}

@media (max-width: 767px) {
    .big-logo {
        padding: 0px 0 20px 0;
        width: 200px;
    }
    #news-banner {
        padding-top: 60px;
    }
    .menu-wrap.on .menu {
        padding-top: 30px;
    }
    .floatinglikebox {
        display: none;
    }
    .col-wrap{
       -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .video-section #mt-video {
        width: 50%;
        float: left;
        padding: 10px;
        margin-bottom: 30px;
    }
    .vacancy-section {
        margin: 60px 0px 20px;
    }

    .big-banner .hero-image img {
        width: 500px;
        height: 299px;
    }

    .news-image {
        margin-top: 60px;
    }

    .news-image img {
        height: 260px;
        width: 100%;
    }
    .home-feature img {
        height: 140px;
    }
    article.thumbnail.home-feature{
        margin-bottom: 60px;
    }
    section.news-thumbnail-section{
        margin-top: 0;
    }

    .news-image-border{
        top: 60px;
    }
    .big-banner {
        height: 380px !important;
    }
    .float-image{
        display: none;
    }
    #iims-academy .img-div {
        margin: 40px 0;
    }
    figure#md-pic {
        margin-top: 30px;
    }

    div#accordion {
        margin-bottom: 60px;
    }

    .primary-item {
        display: none;
    }

    #gallery .img-thumbnail {
        height: 140px;
    }

    #sidebar {
        margin-bottom: 40px;
    }

    #facilities .mt-title {
        top: 60px;
    }

    .social-nav .hdr-socials,
    .slider-image p,
    .slider-image figcaption h1:before {
        display: none;
    }

    .tab-content {
        padding-left: 0;
    }

    .inner-intro img {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 1.6rem;
    }

    .social-nav a {
        font-size: 13px;
    }

    .slider-image figure figcaption {
        max-width: 300px;
        padding: 15px;
    }

    .slider-image figcaption h1 {
        font-size: 1.8rem;
        margin: 0;
        line-height: 34px;
    }

    #slider-lists img {
        height: 400px;
    }

    #facilities .slider-image figure figcaption {
        padding: 25px;
        width: 80%;
    }

    .mt-gallery a {
        width: 48.33333%;
        float: left;
        display: block;
        padding: 10px;
        padding: 5px;
    }

    #mt-video {
        margin-bottom: 40px;
    }

    section {
        padding: 50px 0;
    }

    .mt-gallery a {
        width: 25%;
    }

    img.gallery-thumb {
        height: 80px;
    }

    .mt-gallery {
        margin-bottom: 60px;
        overflow: hidden;
    }

    .mt-map {
        display: none;
    }

    aside.widget.widget_about {
        margin-bottom: 40px;
    }

    #inner-banner {
        height: 350px;
        position: relative;
    }

    #section-6 .activity-image,
    #section-5 .activity-image, .activity-image {
        padding-bottom: 0;
    }

    #section-3 .activity-image:hover .mt-descriptions {
        bottom: auto;
    }

    .mt-courses {
        padding: 0 10px 60px;
    }

    .col-md-3.col-sm-6.form-field {
        padding: 0 7px;
        margin: 5px 0;
    }

    .sm-thumbnail {
        max-width: 80px;
    }

    .menu-toggle .menu-toggle-hamburger {
        float: right;
    }

    #news-lists .activity-image img {
        height: 200px;
    }

    .facilities-section .slider-image p {
        display: block;
    }

    .course-meta {
        width: 50%;
        margin-bottom: 15px;
    }

    .thumnbail-img {
        margin-bottom: 40px;
    }
    .blog_content{
        margin-top: -50px;
        min-height: auto;
    }
    .mt-event .blog_content{
        margin-right: 0;
    }
    .mt-event .blog_image {
        height: 180px;
        overflow: hidden;
        position: relative;
        right: 0;
        top: 0;
    }
    .mt-event{
        margin-right: 0;
    }
    .tab-pane img {
        margin-bottom: 30px;
    }
   
}

@media (max-width: 640px) {
    h3{
        font-size: 1.4rem;
    }
    .big-logo,
    li.nav-item.mt-notification {
        display: none;
    }

    .menu-wrap .menu-links {
        padding: 0 40px;
    }

    #section-5 .activity-image {
        margin: 0;
    }

    widget {
        margin-bottom: 30px;
    }

    .hero-image {
        right: 0;
    }
    .big-banner .hero-image img {
        width: 100%;
        height: 200px;
    }
    #job-details .job-section {

        padding: 40px 30px;
    }
    .job-section h4{
        left: 30px;
    }

    .big-banner {
        height: 250px !important;
    }

    #gallery .img-thumbnail {
        height: 100px;
        margin: 7px 0;
    }

    #news-lists .activity-image figcaption h4 {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
    }

    #news-lists .activity-image figcaption {
        padding: 15px;
    }

    #slider-lists img {
        height: 380px;
    }

    #inner-banner h3 {
        font-size: 24px;
        margin: 0;
    }

    #sticky-social {
        padding: 0 15px;
        position: inherit;
        left: auto;
        top: auto;
        transform: none;
        padding-bottom: 80px;
    }

    #inner-banner .inner-caption {
        max-width: 300px;
        padding: 20px;
    }

    .breadcrumb {
        display: none;
    }

    .mt-title p {
        font-size: 16px;
    }

    .breadcrumb li {
        font-size: 14px;
    }

    .breadcrumb:after {
        border-bottom: 41px solid #C3161C;
    }

    h4 {
        font-size: 1.1rem;
    }

    #sticky-social li {
        display: inline-block;
    }

    #sticky-social a span,
    .social-nav:before {
        display: none;
    }

    div#mt-video {
        max-width: 340px;
        margin: 0 auto 40px;
    }

    .logo-sec figure img {
        width: 120px;
    }

    #footer-section {
        padding-bottom: 60px;
    }

    #sticky-lms img {
        width: 120px;
    }

    .social-nav {
        padding: 5px;
        text-align: center;
    }

    .top-header {
        padding: 12px 0;
    }

    form.subscribe-form .form-field {
        padding: 5px 0;
    }

    .projects {
        width: 100%;
    }

    .projects .projects {
        width: 50%;
    }

    .hero-image {
        top: 0;
    }

    #info-area {
        padding: 0 25px;
    }

    .info-area-right {
        padding: 0;
        margin-bottom: 60px;
    }
}

@media (max-width: 568px) {
    h2 {
        font-size: 1.8rem;
    }

    div#subscription {
        padding: 40px;
    }
    #iims-academy .img-div {
        margin: 20px 0 30px;
    }
    #career-places .container-fluid {
        padding: 0 30px;
    }
    .col-wrap {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    #inner-banner {
        height: 260px;
    }
    #news-banner {
        padding-top: 60px;
    }

    .widget {
        margin-bottom: 30px;
    }

    .mt-btn,
    .mt-btn.mt-border {
        font-size: 14px;
    }

    .nav-sidebar {
        margin: 0 0 30px;
    }
    .news-image-border {

        max-width: 277px;
        max-height: 265px;
    }
    .news-image {
        margin-top: 30px;
    }

    .menu-toggle .menu-toggle-hamburger span,
    .menu-toggle .menu-toggle-hamburger span:before,
    .menu-toggle .menu-toggle-hamburger span:after {
        background: #666;
    }

    .mt-institutes li {
        width: 28%;
        min-height: 150px;
    }

    header {
        position: relative;
    }

    .course-meta {
        width: 100%;
        margin-bottom: 15px;
    }

    .anchor-div.text-center {
        margin-top: 20px;
    }

    .about-section {
        padding-top: 60px;
    }

    .mt-testimonials h5,
    .mt-avatar,
    .mt-designation {
        padding-left: 0;
        margin-left: 0;
        padding-top: 0;
    }

    .mt-testimonials h5 {
        padding-top: 50px;
    }

    nav#navigation-menu,
    #banner-sliders:before {
        display: none;
    }

    div#mt-video {
        max-width: 300px;
        margin: 0 auto 40px;
    }

    .social-nav a {
        font-size: 14px;
    }

    .navbar-toggler {
        top: -45px;
        background: transparent;
    }

    #slider-lists .owl-nav {
        display: none;
    }

    #section-2:before,
    #section-5:before {
        position: inherit;
    }

    .shape-1,
    .shape-2 {
        position: absolute;
        background-size: 50%;
        top: 100%;
    }

    #section-2 {
        background: transparent;
    }

    .mt-institutes img {
        height: 60px;
    }

    .mt-content .row.mt-content p img {
        height: 80px !important;
        width: auto !important;
        object-fit: contain;
        margin: 0 0 15px;
        text-align: left;
    }

    .feature-navs li a {
        margin-right: 15px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .step {
        padding: 0;
    }

    .apply-wrapper {
        padding: 30px;
    }

    a.mt-btn.mt-border.anchor-div {
        position: relative;
        float: none;
        display: none;
    }

    .menu-toggle .menu-toggle-hamburger span, .menu-toggle .menu-toggle-hamburger span:before, .menu-toggle .menu-toggle-hamburger span:after {
        height: 2px;
    }
}

@media (max-width: 480px) {
    .mt-gallery a {
        width: 33.333%;
    }
    h4 {
        font-size: 1rem;
    }
    .blog-thumbnials img {
        height: 70px;
    }

    #gallery .img-thumbnail {
        height: 70px;
    }
    .video-section #mt-video a img {
        min-height: 100px;
    }

    .big-banner {
        height: 200px !important;
    }
    .job-buttons a {
        margin: 0 15px;
        display: block;
        width: 200px;
        margin: 0 auto 20px;
    }

    .mid-section {
        padding: 60px 0;
    }

    section.mid-section p {
        font-size: 16px;
        line-height: 28px;
        font-weight: bold;
    }
    #facilities .slider-image figure figcaption {
        padding: 25px;
        width: 100%;
        position: relative;
        transform: none;
        left: 0;
        bottom: 0;
    }
}

@media (max-width: 360px) {
    .top-header:before {
        width: 80%;
    }

    #hero-news:before {
        position: inherit;
    }

    #hero-news {
        background: #eee;
        padding: 20px;
    }
}

