@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,900");

body, html {
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    transition: .4s;
    color: #003262;
}

a:hover {
    color: #E91F35;
}

p {
    line-height: 28px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

h4 {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 24px;
}

input:focus {
    outline: none;
}

.mt-btn {
    background: #E91F35;
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.mt-btn:hover {
    background: #023f87;
    color: #fff;
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.owl-prev {
    float: left;
    position: absolute;
    left: -60px;
}

.owl-next {
    float: right;
    position: absolute;
    right: -60px;
}

#slider-lists .owl-nav i {
    display: none;
}

.owl-nav i {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #999;
    border-radius: 50%;
}

.owl-nav i:hover {
    background: #fff;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.06);
}

div#alumni-voice .owl-nav.disabled {
    display: block;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 80px 0;
    position: relative;
}

section#section-3 {
    /* background: #f5f5f5; */
}

section#section-1,
section#section-8 {
    padding: 0;
}

@media (min-width: 1400px) {
    .home-page section {
        overflow: hidden;
        position: relative;
    }
}

#banner-sliders {
    position: relative;
}

#banner-sliders:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    opacity: 0.7;
    content: '';
    -webkit-background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
    background-size: cover;
    height: 200px;
}

#section-2 {
    position: relative;
    background-color: #fff;
}

#section-5 {
    position: relative;
    background: #1c385a;
}

#section-2:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #f5f5f5, #fff);
    content: '';
    height: 90%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 40%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 40%);
}

#section-5:before {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

nav#navigation-menu {
    position: fixed;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
    display: none;
}

nav#navigation-menu li {
    display: block;
    margin: 10px 0;
}

nav#navigation-menu li a {
    width: 12px;
    height: 12px;
    text-indent: 99999px;
    background: #999;
    display: block;
    transition: all 0.4s;
}

.navbar-light button[aria-expanded=true] .navbar-toggler-icon {
    background: url(../img/cross.png) no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: 100%;
    opacity: 0.5;
}

.mt-enroll {
    border: 1px solid #ccc;
    border-radius: 22px;
    font-weight: bold;
    margin-left: 30px;
    color: #fff;
    background: transparent;
    cursor: pointer;
}

.mt-enroll:focus, button:focus {
    outline: none;
}

#enroll-modal {
    background: rgba(30, 30, 30, 0.7);
    text-align: center;
    padding: 40px;
}

#enroll-modal input, #enroll-modal select, #enroll-modal textarea {
    min-height: 48px;
    border-radius: 4px;
}

#enroll-modal input[type="checkbox"] {
    min-height: auto;
}

#enroll-modal .form-group {
    margin-bottom: 20px;
}

#enroll-modal .modal-body, #enroll-modal .modal-header {
    padding: 20px 40px;
    border: none;
}

.modal-header {
    padding: 0;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    right: 25px;
    top: 16px;
    color: #fff;
}

.modal-title {
    line-height: 1.5;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    background: #023F87;
}

.modal-content {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 68px -22px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 68px -22px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 68px -22px rgba(0, 0, 0, 0.25);
}

.modal-content p {
    text-align: center;
}

.modal-content input:focus {
    outline: none;
}

.modal-content .wpcf7 {
    margin: 0;
    padding: 40px 60px;
}

.inner-page .mt-enroll {
    color: #666;
}

.mt-enroll:hover {
    background: #C3161C;
    border: 1px solid #C3161C;
    color: #fff !important;
}

.home-page .mt-enroll svg,
.mt-enroll:hover svg {
    fill: #fff;
}

.mt-enroll svg {
    vertical-align: middle;
    margin-right: 2px;
}

nav#navigation-menu li a._mPS2id-h.mPS2id-clicked,
.mPS2id-target nav#navigation-menu li a {
    background: red;
}

.mt-sticky .top-header {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    z-index: 9999;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
}

.mt-sticky .top-header.menu-on {
    background: transparent;
    box-shadow: none;
}

.mt-sticky .top-header .navbar-light .navbar-nav .nav-link,
.mt-sticky .mt-enroll {
    color: #666;
}

.mt-sticky #mega-menu-wrap-header_menu #mega-menu-header_menu > li.mega-menu-item > a.mega-menu-link {
    color: #666;
}

.inner-page #mega-menu-wrap-header_menu #mega-menu-header_menu > li.mega-menu-item > a.mega-menu-link {
    color: rgba(35, 35, 35, 0.8) !important;
}

.home-page.mt-sticky .mt-enroll svg {
    fill: #666;
}

.mt-title {
    margin: 0 auto 30px;
    text-align: center;
    position: relative;
}

.mt-title.dark-bg h2 {
    color: #fff;
}

.mt-title.dark-bg p {
    color: rgba(255, 255, 255, 0.8);
}

.mt-title h2, .mt-title h3 {
    position: relative;

    /* padding-bottom: 10px; */
    margin-bottom: 20px;
    color: #023F87;
    font-weight: 700;
}

.mt-title p {
    font-size: 18px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    font-weight: bold;
}

.mt-med-padding {
    padding: 60px 0;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

/*social-nav*/
.social-nav {
    font-size: 14px;
    border-radius: 0 0 8px 8px;

    /*border-bottom:1px solid #cccccc40;*/
    position: relative;
    z-index: 9;
    background: #023f87;
    padding: 8px 20px;
}

.social-nav:before {
    position: absolute;
    top: 0;
    content: '';
    left: -19px;
    width: 0;
    height: 0;
    border-top: 38px solid #023f87;
    border-left: 20px solid transparent;
}

.social-nav p {
    padding-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.social-nav ul li {
    margin: 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.social-nav ul li.mt-notification {
    margin-right: 15px;
}

li.nav-item.mt-notification svg {
    vertical-align: middle;
    margin-right: 10px;
}

span.count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background: red;
    left: 20px;
    font-weight: bold;
    line-height: 20px;
}

li.hdr-cnt i {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.social-nav a {
    color: #fff;
    font-size: 14px;
}

.social-nav a:hover {
    opacity: 0.8;
    text-decoration: none;
}

header {
    position: absolute;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}

/*top-header*/

.top-header ul {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.top-header ul li {
    padding: 0;
    position: relative;
}

.top-header ul li a {
    font-size: 18px;
    color: #333;
}

.top-header ul li:hover ul.sub-menu {
    display: block;
}

.top-header ul li ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 500px;
    text-align: left;
    z-index: 99;
    padding: 10px;
    display: none;
    border-radius: 4px;
    box-shadow: 0 37px 3rem -1rem rgba(204, 79, 66, 0.52);
}

li.sub-menu-item {
    width: 50%;
    float: left;
    padding: 8px !important;
}

.top-header ul li ul.sub-menu.mt-half,
.top-header .about-dropdown ul.sub-menu {
    width: 550px;
}

.top-header ul li ul.sub-menu li {
    display: block;
    padding: 5px 0;
}

.sub-menu-item img {
    height: 110px;
    object-fit: cover;
    margin-bottom: 10px;
}

.top-header ul li ul.sub-menu li a {
    position: relative;
    line-height: 24px;
    padding: 3px 15px !important;
    display: inline-block;
    width: 100%;
}

.top-header ul li ul.sub-menu li a:before {
    position: absolute;
    left: 0;
    height: 0px;
    width: 3px;
    background: #C3161C;
    content: '';
    transition: all 0.4s;
}

.top-header ul li ul.sub-menu li a:hover:before {
    height: 100%;
}

.top-header ul li ul.sub-menu.mt-half li,
.top-header .about-dropdown ul li {
    width: 50%;
    float: left;
}

.top-header ul li a {
    /*border-right: 1px solid #ddd;*/
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
}

.top-header ul li a:hover {
    color: #C3161C;
}

.top-header {
    padding: 10px 0;
}

.top-header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.top-header .navbar-light .navbar-nav .nav-link:hover {
    color: #C3161C;
}

.logo-sec figure {
    padding: 10px 0;
    margin-bottom: 0;
}

.logo-sec figure img {
    width: 130px;
    transition: all 0.4s;
}

.mt-sticky .logo-sec figure img {
    width: 100px;
}

/*main-nav*/
li.nav-item {
    margin-left: 20px;
}

.nav-link {
    transition: .4s;
}

.nav-link:hover,
.nav-link.active {
    color: #C3161C;
}

.feature-section .tab-content {
    padding: 0;
}

.top-header ul li a span {
    font-size: 12px;
    padding-left: 5px;
}

nav.navbar.navbar-expand-md.navbar-light {
    padding: 0;
}

/** banner section css  starts here **/

/** banner css **/
#slider-lists img {
    height: 100vh;
    object-fit: cover;
}

#slider-lists .owl-nav,
#facility-lists .owl-nav {
    display: block;
}

#slider-lists .owl-nav .owl-prev,
#slider-lists .owl-nav .owl-next,
#facility-lists .owl-nav .owl-prev,
#facility-lists .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0.5;
}

#slider-lists .owl-nav .owl-next,
#facility-lists .owl-nav .owl-next {
    left: auto;
    right: 80px;
}

#slider-lists .owl-nav i.fa,
#facility-lists .owl-nav i.fa {
    font-size: 80px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.slider-image figure:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.1);
}

.slider-image figure:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: url(../img/banner-shadow.png) no-repeat;
    background-size: cover;
}

.slider-image figure figcaption {
    position: absolute;
    top: 60%;
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 600px;

    /* background: rgba(40, 40, 40, 0.5);s */
    /* padding: 40px; */
    z-index: 999;
}

.slider-image figcaption h1 {
    color: #fff;
    font-size: 3em;
    line-height: 60px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 900;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.slider-image figcaption h1:before {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    opacity: 0.5;
}

#slider-lists .owl-nav .owl-prev:hover,
#slider-lists .owl-nav .owl-next:hover,
#facility-lists .owl-nav .owl-prev:hover,
#facility-lists .owl-nav .owl-next:hover {
    opacity: 1;
}

#faclilty-lists .owl-nav .owl-prev,
#slider-lists .owl-nav .owl-prev,
#facility-lists .owl-nav .owl-next,
#slider-lists .owl-nav .owl-next {
    background: url("../img/arrow-left.png");
    width: 42px;
    height: 73px;
    font-size: 0;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

#slider-lists .owl-nav .owl-next,
#facility-lists .owl-nav .owl-next {
    background: url("../img/arrow-right.png");
}

.slider-image p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/** welcome container **/
#intro-section {
    padding: 40px 0;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.intro-content p {
    font-size: 1.2em;
}

/** activity section css **/
#latest-activities {
    padding: 60px 0 60px;
}

.activity-image {
    margin: 0 10px;
    background: none;
    position: relative;
}

#alumni-voice .activity-image {
    padding-bottom: 0;
}

.activity-image .mt-descriptions {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    bottom: 0px;
    left: 0;
    transition: all 0.4s;
    width: 100%;
}

#section-6 .activity-image .mt-descriptions, #section-5 .activity-image .mt-descriptions {
    opacity: 1;
    visibility: visible;
}

.mt-courses .activity-image h4 {
    min-height: 50px;
}

#section-6 .activity-image, #section-5 .activity-image {
    margin: 0 10px;
    background: none;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.activity-image .mt-descriptions .course-meta {
    width: 100%;
}

.course-meta li i {
    width: 32px;
    height: 32px;
    background: #fff;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
}

.activity-image .mt-descriptions .mt-btn {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
}

.activity-image .mt-descriptions .course-meta li {
    font-size: 13px;
    float: left;
    color: #666;
    margin-right: 15px;
}

.activity-image .mt-descriptions .course-meta li:last-child {
    margin: 0;
}

#section-3 .activity-image .mt-descriptions {
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
    display: block;
    bottom: 30px;
}
.mt-courses .activity-image img {
       height: 280px;
}
#section-2 iframe {
    height: 240px;
}

.activity-image img {
 
    width: 100%;
    object-fit: cover;
    transition: all 0.8s;
    border-radius: 8px;
}

.activity-image :hover img {
    transform: scale(1.05);
}

#latest-activities .owl-dots.disabled {
    display: block;
    margin: 30px 0 0;
    text-align: center;
}

#latest-activities .owl-dot {
    width: 10px;
    height: 10px;
    background: #eee;
    display: inline-block;
}

#latest-activities .owl-dot.active {
    background: red;
    margin: 0 4px;
}

#latest-activities .owl-dots {
    text-align: center;
    margin: 30px 0 0;
}

/** hero news sectin **/
#hero-news {
    background: #eee;
    padding: 60px;
    position: relative;
}

#hero-news:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    width: 25%;
    content: '';
}

.hero-content {
    margin-top: 40px;
}

/** partners logo section css **/
#our-partners {
    padding: 60px 0;
    text-align: center;
    background: url(../img/map.png) no-repeat center (center / 60%);
}

#our-partners li {
    padding: 0 5px;
}

/** footer section css **/

.options {
    width: 100%;
    margin-top: 10px;
}

.sub-inner input {
    background: transparent;
    border: 1px solid #42245E !important;
    height: 47px;
    border-radius: 23px;
    outline: none;
    padding: 0 20px;
    color: #42245E;
    font: 16px;
    width: 100%;
}

.sub-inner .form-field input[type=submit] {
    position: absolute;
    right: 26px;
    top: 8px;
    border: none;
    background: #E91F35 url(../img/bottom-angle.png) no-repeat center (center / 40%);
    color: #fff;
    height: 31px;
    cursor: pointer;
    width: 31px;
    font-size: 0;
    border-radius: 100%;
    padding: 0;
    background-position: center;
}

.sub-inner h4 {
    margin-bottom: 20px;
}

.widget_contact li i {
    padding-right: 12px;
}

#footer-section {
    padding: 60px 0 60px;
    color: #fff;
}

.inner-page #footer-section {
    background: #023f87;
}

.latest-news h5 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

#footer-section li,
#footer-section a,
#footer-section p {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 8px;
    font-size: 14px;
    padding: 0;
    line-height: 20px;
    margin-bottom: 10px;
}

#footer-section a:hover {
    color: #fff;
    text-decoration: underline;
}

.latest-news p {
    opacity: 0.7;
}

.widget .ftr-nav li {
    display: block;
}

aside.widget.widget_about {
    text-align: center;
}

.widget-social li {
    padding: 8px;
}

/** about us page css  **/
#breadcrumb-section {
    padding: 15px 0;
    text-align: right;
}

section.inner-main {
    padding: 20px 0 80px;
}

.mt-content {
    margin-bottom: 40px;
}

#breadcrumb-section ul {
    border-bottom: 2px solid #FAFAFA;
    padding-bottom: 15px;
}

.mt-links {
    background: #F5F5F5;
    padding: 30px;
    margin-bottom: 30px;
}

.company-image {
    margin-bottom: 20px;
}

.page-title {
    margin-bottom: 10px;
    color: #C3161C;
    font-weight: bold;
}

/** program page css **/
.archive-ftd-content h3 a {
    font-size: 22px;
}

.mt-contact {
    padding: 30px;
    border: 1px solid #eee;
}

.seceondary-section {
    padding-left: 30px;
}

.mt-btn.sm-btn {
    width: 100%;
    border: navajowhite;
}

.anchor-div {
    text-align: center;
    margin-top: 20px;
}

a.mt-btn.mt-border.anchor-div {
    color: #999;
    top: 5px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
}

a.mt-btn.mt-border.anchor-div:hover {
    border-bottom: 2px solid #C3161C;
}

.photos img {
    width: 100%;
    margin: 10px;
}

.photos {
    column-count: 3;
}

/* .anchor-div {
    text-align: center;
    margin-top: 40px;
} */

.mt-btn.mt-border {
    background: transparent;
    color: #666;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    display: inline-block;
    padding: 3px 0;
    font-weight: bold;
}

.mt-btn.mt-border:hover {
    color: #E91F35 !important;
    border-bottom: 1px solid #E91F35;
}

/** contact page css **/

/****contact-section******/
#mt-contact-section {
    padding: 80px 0;
}

#mt-contact-section .contact-form {
    margin-top: 60px;
}

.mt-col-padding {
    padding: 0 60px;
}

.ta-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid orange;
    margin-bottom: 20px;
}

.testimonial-section h5 {
    margin: 0;
}

.company-name {
    color: #666;
}

.testimonial-section p {
    margin-top: 10px;
    line-height: 22px;
}

#testimonial-slider {
    margin-bottom: 60px;
}

#testimonial-slider .owl-pagination {
    position: absolute;
    border: none;
    bottom: -20px;
    left: 0;
}

#testimonial-slider .owl-page {
    float: left;
    display: block;
    margin-right: 8px;
    background: #ddd;
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 50%;
}

#testimonial-slider .owl-page.active {
    background: orange;
}

#contact-section h2 {
    letter-spacing: 6px;
    padding-bottom: 10px;
    padding-left: 108px;
    text-transform: uppercase;
}

.contacts p {
    margin-bottom: 5px;
}

#linked-university .mt-content {
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 0;
}

.mt-content:last-child {
    border-bottom: none;
}

#contact-section {
    padding: 80px 0;
    background: url(../images/service-bottom.jpg) no-repeat fixed bottom center;
    position: relative;
}

#contact-section:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
}

#contact-section .contacts .icon {
    float: left;
}

.contacts {
    margin-bottom: 40px;
}

#contact-section .form-control {
    height: 40px;
}

#contact-section textarea.form-control {
    min-height: 160px;
}

.note {
    margin-bottom: 30px;
    background: oldlace;
    padding: 20px;
    text-align: left;
    color: chocolate;
}

.form-control {
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: none;
    height: 42px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 10px;
}

.contact-form {
    margin-top: 0px;
}

textarea.form-control {
    height: 120px;
    resize: none;
}

#mt-contact-section p,
#mt-contact-section a {
    margin-bottom: 5px;
    font-size: 18px;
}

.mt-links li {
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 10px 0;
}

.mt-links li a {
    font-size: 16px;
    font-weight: bold;
}

.mt-links li a:hover {
    color: #C3161C;
}

.mt-links li:last-child {
    border: none;
}

.mt-contact .form-control {
    height: 40px;
}

p.mt-date {
    color: #999;
}

#breadcrumb-section li {
    padding: 0 5px;
}

.mt-title span {
    color: #C3161C;

    /* border-bottom: 2px solid #C3161C; */
}

/* Faq */

.faq ul li {
    list-style-type: none;
    display: block;
}

.faq ul li h6 {
    position: relative;
    color: #333;
    font-size: 18px;
    background: #eee;
    padding: 15px;
}

.faq ul li h6:before {
    position: absolute;
    right: 100%;
    margin-right: 5px;
    color: var(--red);
}

.faq span.faq-icon {
    padding-left: 20px;
    float: right;
}

.faq ul li h6:hover {
    cursor: pointer;
}

.faq ul li h6.on .faq-icon {
    transform: rotate(180deg);
    right: -18px;
    position: relative;
    top: 0px;
}

.faq ul li .faq-answer {
    line-height: 25px;
    font-size: 16px;
    padding-top: 20px;
    display: none;
    color: #5b5b5b;
    font-family: sans-serif;
}

.faq ul li .faq-answer ul li {
    padding: 5px;
    border: none;
    list-style-type: disc !important;
}

#mt-team {
    margin-bottom: 30px;
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

/**** latest added css ****/
.modal-backdrop.fade.show {
    display: none;
}

#section-2 #mt-video button {
    -webkit-box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.8);
}

#mt-video button {
    border: none;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    background: transparent;
    overflow: hidden;
}

button.front-btn img {
    width: 100%;
    min-height: 240px;
    object-fit: cover;
}

#section-4 {
    /* background: #023f87; */
    /* background: url(../img/blue-bg.jpg) no-repeat fixed; */
    background-size: cover;
    padding: 80px 0 80px;
    position: relative;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -2;
}

#section-4:before {
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 56, 56, 0.8);
}

.alumni-details {
    text-align: center;
    margin-top: 20px;
}

.alumni-details .mt-designation {
    font-size: 1rem;
    color: #666;
    font-weight: 400;
}

.mt-map iframe {
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

.footer-logo {
    width: 170px;
    opacity: 0.5;
}

#section-8 {
    background: #023f87;
}

.form-field input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 32px;
}

#partners-section {
    padding: 60px;
    background: #f5f5f5;
    background: linear-gradient(90deg, rgb(245, 245, 245) 50%, rgba(59, 33, 94, 0) 85%), url(https://tophat2018.wpengine.com/wp-content/uploads/2017/05/RW_TopHat_2095_cropped@1x.jpg), rgba(32, 17, 52, 0.72);
    background-position: right center;
}

.partner-image {
    padding: 0 15px;
}

.form-field input.mt-btn {
    background: #E91F35;
    border: #E91F35;
    color: #fff;
    cursor: pointer;
}

.form-field input.mt-btn:hover {
    background: #023f87;
}

.ftr-descriptions {
    text-align: left;
    margin-top: 30px;
}

.widget-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
}

.shape-1,
.shape-2 {
    position: absolute;
    left: 80px;
    background: url(../img/pattern.png) no-repeat;
    width: 450px;
    height: 467px;
    top: 0px;
    content: '';
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.img-team {
    width: 160px;
    border-radius: 50%;
    height: 160px;
    object-fit: cover;
}

.shape-2 {
    left: auto;
    right: 80px;
}

section#section-4 #mt-video h4 a {
    color: #fff;
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
}

ul.contact-info li {
    display: block;
}

.btm-footer {
    margin-top: 40px;
}

.btm-footer .ucsi-logo {
    margin-bottom: 20px;
}

.subscribe-form {
    margin-top: 30px;
}

img.gallery-thumb {
    height: 80px;
    width: 100%;
    object-fit: cover;
}

#mt-video .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mt-video a {
    display: block;
    position: relative;
}

#section-2 #mt-video {
    padding: 30px;
}

#section-2 #mt-video a img {
    min-height: 240px;
    object-fit: cover;
    -webkit-box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

#mt-video .icon i.far {
    font-size: 60px;
    color: #fff;
    opacity: 0.6;
}

#mt-video .icon i.far:hover {
    opacity: 1;
}

/*** inner page css **/
#inner-banner {
    height: 480px;
    position: relative;
}

#inner-banner:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    content: '';
    background: url(../img/banner-shadow.png) no-repeat;
    background-size: cover;
}

#inner-banner .inner-caption {
    width: auto;
    position: absolute;
    max-width: 450px;

    /* top: 50%; */
    /* transform: translateY(-50%); */
    z-index: 9;
    bottom: 15%;
    background: rgba(195, 22, 28, 0.8);
    padding: 30px;
}

#inner-banner h3 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.inner-section {
    padding: 60px 0;
}

.mt-inner-contents.side-widgets {
    background: #f1f6fa;
    padding: 30px;
}

.mt-image {
    margin: 20px 0 30px;
}

.breadcrumb {
    background: transparent;
    display: inline-flex;
    margin: 0;
    border-radius: 0;
    position: relative;
    padding: 0;
    color: #fff;
}

.breadcrumb:after {
    position: absolute;
    top: 0;
    content: '';
    left: 100%;
    width: 0;
    height: 0;
    border-bottom: 54px solid #C3161C;
    border-right: 20px solid transparent;
}

.breadcrumb li {
    color: #fff;
    letter-spacing: 0.7px;
}

.breadcrumb a {
    color: rgba(255, 255, 255, 0.7);
}

.breadcrumb a:hover {
    color: #fff;
    text-decoration: underline;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.feature-navs {
    margin: 50px 0 30px;
    border-bottom: 1px solid #eee;
}

.feature-navs li a {
    font-size: 16px;
    margin-right: 25px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
}

.feature-navs li a:hover {
    color: #C3161C;
}

.feature-navs li a.active {
    color: #C3161C;
    border-bottom: 2px solid #C3161C;
}

.feature-section h3 {
    color: #C3161C;
    font-weight: bold;
}

.col-lg-5.col-md-3.col-sm-12.mb-lg-0.mb-4 {
    padding-right: 50px;
}

.sm-thumbnail {
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    flex: auto;
}

.mt-links li {
    display: flex;
    flex-wrap: wrap;
}

.sm-summary {
    flex: auto;
    flex: 2;
}

.inner-page .top-header {
    background: #f7f7f7;
}

.inner-page .top-header.menu-on {
    background: transparent;
}

.inner-page .top-header .navbar-light .navbar-nav .nav-link {
    color: rgba(35, 35, 35, 0.8);
    font-weight: bold;
}

.inner-page .top-header .navbar-light .navbar-nav .nav-link:hover {
    color: #E91F35;
}

.top-header .navbar-light .navbar-nav li ul li .nav-link {
    color: #333;
}

/*******sticky-social*******/

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sticky-social {
    right: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}

#sticky-social li {
    opacity: 0.9;
    display: block;
}

#sticky-social li:hover {
    opacity: 1;
}

#sticky-social a {
    background: #FFB700;
    color: #fff;
    display: block;
    height: 50px;
    font: 16px "Open Sans", sans-serif;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
    margin: 5px 0;
    z-index: 9;
    transition: all 0.5s ease;
}

#sticky-social a:hover span {
    right: 13%;
    transition: all 0.5s ease;
    background: #FFB700;
}

#sticky-social a span {
    line-height: 50px;
    right: -200px;
    position: absolute;
    text-align: center;
    width: 175px;
    z-index: -1;
}

#sticky-social a i.fa {
    z-index: 999;
}

.goog-te-combo > option {
    color: #fff;
    background: #215586;
}

#sticky-social a.facebook,
#sticky-social a.facebook:hover,
#sticky-social a.facebook span {
    background: #3b5998;
}

#sticky-social a.twitter,
#sticky-social a.twitter:hover,
#sticky-social a.twitter span {
    background: #00aced;
}

#sticky-social a.gplus,
#sticky-social a.gplus:hover,
#sticky-social a.gplus span {
    background: #dd4b39;
}

#sticky-social a.linkedin,
#sticky-social a.linkedin:hover,
#sticky-social a.linkedin span {
    background: #007bb6;
}

#sticky-social a.instagram,
#sticky-social a.instagram:hover,
#sticky-social a.instagram span {
    background: #517fa4;
}

#sticky-lms {
    position: fixed;
    left: 0;
    bottom: 0px;
    background: #3BC859;
    padding: 5px 30px 5px 10px;
    display: block;
    z-index: 99;
    -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

#stikcy-lms:hover {
    background: #3B9259;
    opacity: 0.8;
}

#sticky-lms img {
    width: 150px;
    padding: 10px;
}

/** news blog section  **/
.blog_image {
    height: 240px;
    overflow: hidden;
}

.blog_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}

.news-post {
    margin-bottom: 40px;
}

.news-post:hover img {
    transform: scale(1.1);
}

.mini-view article h4 a {
    line-height: 26px;
}

.mini-view article h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.entry-meta {
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
}

section#section-6 {
    background: #f5f5f5;
}

.mid_detail {
    margin-top: 60px;
    background: #f5f5f5;
    text-align: center;
    padding: 30px;
}

div#event-lists .activity-image img {
    height: 160px;
    border-radius: 0;
}

.text-holder i {
    font-size: 26px;
    width: 80px;
    height: 80px;
    border: 1px solid #E91F35;
    border-radius: 50%;
    line-height: 80px;
    margin-bottom: 20px;
    color: #E91F35;
}

.nav-sidebar {
    margin-top: 30px;
}

.nav-sidebar li {
    display: block;
}

.nav-sidebar li a {
    padding: 12px 0;
    font-size: 16px;
    display: block;
    border-left: 2px solid transparent;
    padding-left: 15px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.nav-sidebar li a.active,
.nav-sidebar li a:hover {
    color: #C3161C;
    background: #f5f5f5;
    border-left: 2px solid #C3161C;
}

figure.mt-director {
    background: #f5f5f5;
    max-width: 260px;
    margin-bottom: 30px;
}

.mt-director figcaption {
    padding: 20px;
}

.tab-content {
    padding-left: 40px;
}

.inner-contents h2 {
    margin-bottom: 15px;
    color: #023f87;
}

.inner-contents .mt-title h2 {
    text-align: left;
}

.mt-content h4 {
    color: #023F87;
    line-height: 30px;
    font-size: 22px;
}

.mt-content p:last-child {
    margin-bottom: 0;
}

.intro-text p {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.inner-intro {
    margin-bottom: 30px;
}

figure.mt-director p {
    margin: 0;
}

.inner-section h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 700;
}

.inner-section h2:before {
    content: '';
    left: 0;
    top: 100%;
    background-color: #C3161C;
    width: 50px;
    height: 3px;
    position: absolute;
}

ul.mt-notifications > li {
    box-shadow: 0 0px 25px rgba(50, 50, 50, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.mt-notifications li h3 {
    font-size: 1.2rem;
    position: relative;
    color: #023f87;
    padding-left: 30px;
    border-left: 3px solid #023f87;
    cursor: pointer;
}

.mt-notifications li .active {
    color: #C3161C;
    border-left: 3px solid #C3161C;
}

.mt-notifications li h3 span {
    display: block;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
    letter-spacing: 1px;
}

.mt-notifications li h3:before {
    position: absolute;
    right: 0;
    top: 0;
    content: '\f0fe';
    font-family: "Font Awesome 5 Free";
}

.mt-notifications li h3.active:before {
    content: '\f146';
}

.mt-notifications li p {
    margin-top: 20px;
}

.mt-notifications .mt-content {
    display: none;
    padding-left: 30px;
}

.progress-table {
    min-width: 700px;
    max-width: 100%;
}

.progress-table .table-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    background: #023f87;
    color: #fff;
}

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
    color: #023f87;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.progress-table .name {
    width: 20%;
    word-wrap: break-word;
    margin-right: 15px;
    text-align: center;
}

.name img {
    height: 60px;
    text-align: center;
    object-fit: contain;
}

.progress-table .name a {
    font-size: 14px;
    font-weight: bold;
}

.progress-table .description {
    width: 50%;
    padding-right: 50px;
}

.progress-table .download {
    width: 30%;
}

.progress-table .download .mt-btn {
    padding: 8px 15px;
    font-size: 14px;
    background: #f5f5f5;
}

.progress-table .download .mt-btn:hover {
    background: #C3161C;
}

.progress-table .download .mt-btn a {
    color: #666;
}

.progress-table .download .mt-btn:hover a {
    color: #fff;
}

.progress-table .table-row {
    padding: 15px;
    border-top: 1px solid #edf3fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mt-resources {
    margin: 40px 0 0;
}

.mt-btn a {
    color: #fff;
}

.thumbnail_image {
    margin: 20px 0 30px;
}

.activity-image p i.far {
    margin-right: 10px;
}

span.mt-tag {
    background: #E91F35;
    position: absolute;
    top: 30px;
    padding: 10px 20px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 28px;
}

span.mt-tag span {
    display: block;
    font-size: 16px;
}

.mt-gallery a {
    width: 33.33333%;
    float: left;
    display: block;
    padding: 10px;
}

p.copyright span {
    display: block;
}

/** apply online page css **/
.appointment-section {
    padding-top: 60px;
}

.apply-wrapper {
    text-align: center;
    padding: 40px 60px;
    border: 5px solid #eee;
}

.step {
    padding: 0px 0 20px;
}

.step label {
    color: #023F87;
    font-weight: 600;
    margin: 7px 0 5px;
}

.form_title {
    position: relative;
    margin-bottom: 10px;
}

.form_title h3 {
    font-size: 20px;
}

.form_title h3 strong, .search_bar_error input[type=submit]:hover {
    background-color: #ED2125;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

#policy {
    font-size: 14px;
    color: #666;
}

.mt-map {
    padding-right: 50px;
}

.form_title h3 strong {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 42px;
    margin-right: 10px;
}

.mt-box {
    text-align: left;
}

ul.mt-notifications li.mt-recent {
    background: #F3EDD3;
    position: relative;
}

ul.mt-notifications li.mt-recent:before {
    position: absolute;
    left: -7px;
    top: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    content: '';
    background: #C3161C;
    box-shadow: 0 0px 25px rgba(50, 50, 50, 0.05);
}

.mt-institutes li {
    width: 23%;
    float: left;
    text-align: center;
    min-height: 160px;

    /* background: #f5f5f5; */
    margin: 0 15px 0px 0px;
}

.mt-institutes img, .university-img  img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    background: #D7EAF9;
    margin-bottom: 10px;
}

.mt-institutes a {
    min-height: 38px;
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    font-weight: 600;
    color: #5F5E64;
}

.tab-content .mt-name.mt-university {
    /* text-align: center; */
    background: #023f87;
    padding: 7px 15px;
    color: #fff !important;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
}

.tab-content #mt-video {
    margin-bottom: 30px;
}

.awards-header {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 19px;
    color: #fff;
}

#awards .mt-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#awards .mt-content:last-child {
    border: none;
    padding-bottom: 0;
    border-bottom: 0;
}

#awards p {
    color: #fff;
}

.pagination a {
    padding: 10px;
    border: black solid;
    border: 1px solid #a1bbd8;
}

.pagination a:hover, .pagination a:active {
    background: #c3161c;
    color: #ffff;
}

.progress-table-wrap {
    overflow-x: scroll;
}

/** navigation toggle css **/
.menu-toggle .menu-toggle-hamburger {
    display: inline-block;
    position: relative;
    margin: 0 0px 0px 20px;
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.menu-toggle .menu-toggle-hamburger span,
.menu-toggle .menu-toggle-hamburger span:before,
.menu-toggle .menu-toggle-hamburger span:after {
    content: '';
    position: absolute;
    top: 22px;
    right: 0;
    width: 100%;
    height: 4px;
    background: #ffffff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.menu-toggle .menu-toggle-hamburger span:before {
    top: -16px;
    width: 100%;
}

.menu-toggle .menu-toggle-hamburger span:after {
    top: -8px;
    width: 70%;
}

.menu-toggle .menu-toggle-hamburger:hover span:after {
    width: 100%;
}

.menu-toggle.active .menu-toggle-hamburger span:before {
    transform: rotate(-90deg);
    top: 0px;
}

.menu-toggle.active .menu-toggle-hamburger span:after {
    top: 0px;
    opacity: 0;
}

.menu-toggle.active .menu-toggle-hamburger span {
    transform: rotate(-45deg);
    top: 15px;
}

.menu-wrap {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 9999;
    visibility: hidden;
}

.menu-wrap.on {
    visibility: visible;
}

.menu-wrap.on .menu {
    opacity: 1;
    visibility: visible;
}

.menu-wrap > .menu {
    z-index: 110;
    top: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background: #265F9E;
    background: linear-gradient(120deg, #162668 50%, #233758);
    padding: 20px 25px 30px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 37px 3rem -1rem rgba(30, 30, 30, 0.52);
    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.center-sm {
    -webkit-justify-content: center;
    -ms-flex-pack: center;

    /* justify-content: center; 
     text-align: center; */
}

.menu-wrap .menu-links {
    padding: 120px 80px 0;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    color: #77e0c1;
    margin-bottom: 10px;
}

.list ul li a {
    cursor: pointer;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
}

.list ul li a:hover {
    color: #fff;
}

.list li h3 {
    margin: 0;
}

.list .sub-menu {
    margin-bottom: 30px;
}

.big-logo {
    padding: 60px 0;
}

.big-logo img {
    width: 260px;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 60px);
}

.mt-courses .activity-image img {
    border-radius: 0;
}

.mt-courses .activity-image {
    background: #f5f5f5;
    margin: 0 20px 30px;
    overflow: hidden;
    transition: all 0.4s;
}

.mt-courses .activity-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
}

.mt-courses .activity-image figcaption {
    padding: 10px 20px 20px;
    overflow: hidden;
    position: relative;
}

.mt-courses {
    padding: 0 60px 80px;
}

.top-header.menu-on .logo-sec, .top-header.menu-on nav .navbar-nav {
    opacity: 0;
    visibility: hidden;
}

span.img-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
}

span.img-wrapper:before {
    bottom: -20px;
    content: '';
    height: 50px;
    position: absolute;
    right: -30px;
    z-index: 9;
    left: -30px;
    background: #f5f5f5;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transition: all 0.4s;
}

.activity-image:hover span.img-wrapper:before {
    transform: rotate(-5deg);
}

.lines {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: calc(100% - 140px);
    z-index: 100;
    transform: translateX(-50%);
    pointer-events: none;
    max-width: 1300px;
}

.lines .line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #fff;
    opacity: .07;
}

.lines .line:first-child {
    left: 25%;
}

.lines .line:nth-child(2) {
    left: 50%;
}

.lines .line:nth-child(3) {
    left: 75%;
}

.lines .line:nth-child(4) {
    left: 100%;
}

#section-3 .activity-image .mt-descriptions a.mt-btn {
    width: 50px !important;
    background: #023F87;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    float: right;
    opacity: 0;
    color: #fff;
    top: 0;
    right: 30px;
    position: absolute;
}

#section-3 .activity-image:hover .mt-descriptions a.mt-btn {
    opacity: 1;
}

#section-3 .activity-image .mt-descriptions a.mt-btn:hover {
    background: #C3161C;
}

#news-lists .activity-image img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

#news-lists .activity-image figcaption {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

#news-lists .activity-image figure {
    position: relative;
}

#news-lists .activity-image figure:before {
    position: absolute;
    left: 0;
    content: '';
    bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.6) 96%);
}

#news-lists .activity-image figcaption h4 {
    color: #fff;
    font-size: 20px;
}

#news-lists .activity-image figcaption h4 a {
    color: #fff;
}

#news-lists .activity-image figcaption h4 a:hover {
    text-decoration: underline;
}

.blog-thumbnials img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.blog-section .mt-blogs {
    margin-bottom: 25px;
}

.mt-blogs .blog-details {
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.mt-blogs p.mt-date {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

#event-lists .activity-image figcaption h4 {
    min-height: 75px;
}

#event-lists .mt-btn, .program-content .mt-descriptions .mt-btn {
    background: transparent;
    color: #666;
    padding: 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

#event-lists .mt-btn:hover {
    color: #E91F35;
}

#event-lists .activity-image .mt-descriptions {
    border-top: none;
}

#event-lists .activity-image figcaption {
    padding: 20px 25px 30px;
}

#footer-section p.copyright {
    color: #fff;
}

.mt-calendar {
    font-size: 14px;
}

.mt-sticky .navbar-nav svg, .inner-page .navbar-nav svg {
    fill: #333;
}

.mt-sticky .menu-toggle .menu-toggle-hamburger span, .mt-sticky .menu-toggle .menu-toggle-hamburger span:before, .mt-sticky .menu-toggle .menu-toggle-hamburger span:after,
.inner-page .menu-toggle .menu-toggle-hamburger span, .inner-page .menu-toggle .menu-toggle-hamburger span:before, .inner-page .menu-toggle .menu-toggle-hamburger span:after {
    background: #666;
}

.about-section {
    height: 100%;
    padding-top: 80px;
}

.course-details {
    height: 100%;
    padding-top: 100px;
    background: #00ACED;
}

.contact-section {
    height: 100%;
    text-align: center;
    background: #f5f5f5;
}

section.single-course-section {
    padding: 0;
    z-index: 99;
    position: relative;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.course-nav {
    background: #023F87;
    width: 100%;
}

.course-nav li {
    display: inline-block;
}

.course-nav li a {
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid transparent;
}

.course-nav li a:hover {
    background: #C3161C;
}

section.single-course-section .navbar {
    padding: 0;
}

#course-intro {
    padding-bottom: 0;
    position: relative;
}

.course-features {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 99;
    margin-top: -30px;
}

.course-meta {
    width: 250px;
}

.course-meta h4 {
    color: #023F87;
    font-weight: bold;
    margin-bottom: 15px;
}

.course-meta h4 i {
    padding-right: 7px;
    display: none;
}

.course-meta p {
    margin-bottom: 5px;
}

ul.mt-notifications.mt-course {
    text-align: center;
}

.mt-notifications.mt-course > li {
    margin: 0 20px 20px;
    text-align: left;
    background: #fff;
}

.mt-notifications.mt-course li h3, .mt-notifications.mt-course .mt-content {
    padding-left: 0;
    border: none;
    margin-bottom: 0;
}

.entry-requirements {
    text-align: left;
    background: #f9f9f9;
}

#course-intro:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #f5f5f5, #fff);
    content: '';
    height: 400px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 40%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 40%);
}

.program-content .activity-image {
    background: #ebf1f3;
    margin: 20px 0;
}

.program-content .activity-image img {
    border-radius: 0;
}

.program-content .activity-image span.img-wrapper:before {
    display: none;
}

.program-content .activity-image .mt-descriptions {
    padding: 30px 30px 30px 0;
    border-top: none;
    display: block;
}

.activity-image .mt-descriptions h4 a {
    color: #023F87;
}

.activity-image .mt-descriptions h4 a:hover {}

.program-content .activity-image .mt-descriptions .course-meta {
    overflow: hidden;
}

.program-content .mt-descriptions a.mt-btn {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
}

.placements-section, .mid-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.placements-section:before, .mid-section:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.dark-bg ul li {
    color: #fff;
}

.mid-section:before {
    background: rgba(255, 255, 255, 0.8);
}

.dark-bg p {
    color: #fff;
}

#facilities {
    position: relative;
    padding: 0;
    background: #000;
}

#facilities .mt-title {
    position: absolute;
    top: 100px;
}

#facilities .mt-title {
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    color: #fff;
}

#facilities .slider-image figure figcaption {
    position: absolute;
    bottom: 10%;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 500px;
    padding: 40px;
    background: rgba(194, 58, 58, 0.8);
    z-index: 999;
}

#facilities .slider-image figure figcaption p {
    margin: 0;
}

#gallery {
    background: #5D7176;
}

#gallery .img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
    height: 200px;
    object-fit: cover;
}

#testimonial-lists {
    padding: 0 40px;
}

.about-intro {
    margin-bottom: 60px;
}

.testimonial-block {
    border: 2px solid #eee;
    padding: 30px 40px;
    background: #fff;
}

.mt-testimonials h5 {
    line-height: 30px;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    padding-left: 50px;
    color: #666;
}

.mt-testimonials h5:before {
    position: absolute;
    left: -10px;
    top: 0;
    content: '';
    background: url(../img/quote.png) no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
}

.mt-testimonials .mt-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.mt-avatar {
    overflow: hidden;
    margin: 20px 0;
    margin-left: 50px;
    position: relative;
}

.mt-avatar:before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    background: #eee;
    width: 100%;
    height: 1px;
}

.mt-avatar img {
    position: relative;
    border: 4px solid #fff;
    z-index: 99;
}

.mt-designation h4 {
    color: #C3161C;
    margin-bottom: 0px;
}

.mt-designation p {
    font-size: 14px;
}

.mt-designation {
    padding-left: 50px;
}

.anchor-div.text-center {
    z-index: 99;
    position: relative;
    margin-top: 40px;
}

.anchor-div .mt-btn {
    background: #fff;
    border: 1px solid #C3161C;
    color: #C3161C;
    cursor: pointer;
}

.anchor-div .mt-btn:hover {
    color: #fff;
    border: 1px solid #C3161C;
    background: #C3161C;
}

.dark-bg .mt-title h2,
.dark-bg .mt-title h2 span {
    color: #fff !important;
}

section#important-info {
    border-top: 1px solid #eee;
}

.mt-icon {
    text-align: center;
}

#important-info .mt-content {
background: #f5f5f5;
padding: 15px 30px;
padding-right: 90px;
position: relative;
color: #6b8095;
margin-bottom: 20px;
}
#important-info .mt-content h4{
    font-size: 20px;
    margin-bottom: 0;
}
#important-info .mt-content p {
    color: #6b8095;
    font-weight: bold;
    font-size: 14px;
}

#important-info .mt-content:before {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    content: "\f059";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    opacity: 0.1;
}

.big-banner {
    height: 550px !important;
}

.big-banner:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: '';
    background: #C3161C;
    height: 100%;
    opacity: 0.8;
}

/* 
  Current Div background color
*/

.current {
    background-color: #C3161C;
    border: 1px solid #a1bbd8;
    padding: 10px;
	color: #fff;
}
li.nav-item.mt-notification a span {
    color: #fff!important;
}

.col-lg-6.info-area-right {
    padding-right: 200px;
    padding-left: 40px;
}

#info-area {
    padding: 0px 0px 100px 80px;
    background: #fff;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(53, 63, 104, 0.8);
}

.mt-facilities-box.df-fb1 i {
    font-size: 60px;
    margin: 20px 0;
    color: #E91F35;
}

section.feature-section {
    background: #f5f5f5;
}

#mt-video {
    width: 100%;
}

#accordion .card-header {
    padding: 0;
    border-radius: 0;
}

#accordion .card-header button {
    border-radius: 0;
    text-decoration: none;
    position: relative;
}

#accordion .card-header button:before {
    position: absolute;
    top: 20px;
    content: '+';
    right: 15px;
    font-size: 24px;
    font-weight: 100;
    line-height: 0;
}

#accordion .card-header button[aria-expanded="true"]:before {
    content: '-';
}

#accordion .card {
    margin-bottom: 15px;
    border: none;
}

.card button.btn.btn-link {
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    border: none;
    color: #333;
}

.card button.btn.btn-link[aria-expanded="true"] {
    background: #E91F35;
    color: #fff;
}

.mt-lists li {
    position: relative;
    margin: 5px 0;
    padding-left: 20px;
}

.mt-lists li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #023f87;
    left: 0;
    top: 12px;
}

h3 {
    margin-bottom: 20px;
}

.menu-content.pb-70.col-lg-8 {
    margin-bottom: 30px;
}

.big-banner {
    background-color: rgb(195, 22, 28);
}

.hero-image {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    float: right;
    top: 0px;
    right: -50px;
    z-index: 9;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.8);
}

.big-banner .inner-caption {
    padding: 0;
    background: rgba(195, 22, 28, 0.4) !important;
}

.breadcrumb:after {
    display: none;
}

.info-snippet-icon-svg {
    width: 100px;
    margin: 0 auto;
}

.info-sinppet {
    margin-top: 40px;
}

section#student-life {
    background: #f5f5f5;
}

.montage--image.montage--33-33-100-image {
    width: 25%;
    float: left;
}

.responsive-module {
    overflow: hidden;
}

.projects {
    width: 50%;
    float: left;
    padding: 5px;
}

.projects figure {
    position: relative;
}

.projects figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
}

.projects img {
    width: 100%;
}

/* .projects .projects{
    padding:
} */

section.mid-section p {
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
}

.mid-section {
    padding: 120px 0;
}

section#upcoming-events .activity-image img {
    margin-bottom: 30px;
    height: 160px;
    border-radius: 0;
}

div#project-section {
    overflow: hidden;
}

.projects.big-project {
    padding: 10px 10px 10px 0px;
}

#news-banner {
    padding-top: 100px;
}

.news-image-border {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: 450px;
    max-height: 450px;
    transform: translateX(20px) translateY(-40px);
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
    border-left: 10px solid #023F87;
    border-right: 10px solid #E91F35;
}

.news-image-border:after,
.news-image-border:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    background: linear-gradient(90deg, #023F87 0, #E91F35);
}

.news-image-border:after {
    bottom: 0;
}

section#news-banner .breadcrumb li {
    color: #666;
}

section#news-banner .breadcrumb li a {
    color: #023F87;
}

.inner-caption h2.news-title {
    margin: 20px 0;
    font-size: 40px;
    line-height: 50px;
}

.home-feature img {
    height: 180px;
    object-fit: cover;
    width: 100%;
}

#top-news {
    /* background: #C3161C; */
}

aside.widget.widget_social {
    margin-top: 40px;
}

ul.social-info li {
    display: inline-block;
    margin-right: 15px;
}

.news-section {
    border-top: 1px solid #eee;
    padding-top: 40px;
}

#news-lists .news-section {
    padding-top: 0;
}

.news-image img {
    height: 320px;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 99;
}

article.thumbnail .caption {
    border-top: 7px solid #C3161C;
    padding-top: 20px;
}

.blog_content {
    background: #fff;
    padding: 20px;
    border-top: 7px solid #C3161C;
    margin: 0 30px 0 0;
    box-shadow: 0 0 black;
    margin-top: -77px;
    z-index: 99;
    position: relative;
    left: 0;
    min-height: 130px;
}

section.news-thumbnail-section {
    background: #f5f5f5;
    margin-top: 80px;
}

.mini-view article {
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin-bottom: 12px;
}

.home-feature .thumbnail img {
    transition: all 0.4s;
    overflow: hidden;
}

.home-feature:hover .thumbnail img {
    transform: scale(1.1);
}

a.thumbnail {
    overflow: hidden;
    display: block;
}

.meta-date {
    position: absolute;
    top: 0;
    right: 0;
    background: #023F87;
    z-index: 99;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

article.thumbnail.home-feature {
    position: relative;
}

.meta-date span {
    display: block;
    text-align: center;
}

span.day.ng-binding {
    font-size: 22px;
}

span.month.ng-binding {
    font-size: 14px;
}

.mt-event .blog_content {
    margin: 0;
    border-top: 0;
    margin-right: -80px;
}

.mt-event .blog_image {
    height: 100px;
    overflow: hidden;
    position: relative;
    top: 20px;
}

.mt-event {
    background: #fff;
    margin-right: 30px;
    min-height: 150px;
    padding: 20px;
}

.career-benefit-section .career-benefits {
    display: inline-block;
    margin: 0 20px;
}

.career-benefit-section .career-benefits img {
    height: auto;
    max-width: 100%;
    width: 70px;
    margin: 10px 0;
}

.career-benefits h5 {
    font-size: 16px;
    font-weight: bold;
}

.vacancy-section {
    border-top: 4px solid #039CE2;
    margin: 60px 60px 20px;
    padding: 40px 60px;
    -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.1);
}

.mt-opening span {
    background: #f5f5f5;
    padding: 4px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 22px;
    font-weight: 700;
    color: #039CE2;
}

.mt-job table {
    text-align: left;
}

#job-details .job-section {
    text-align: left;
    border: 2px solid #eee;
    padding: 40px 60px;
    margin: 60px 0;
    transition: all 0.4s;
    background: #fff;
    position: relative;
}

#job-details .job-section:hover {
    background: #f5f5f5;
}

.job-section h4 {
    position: absolute;
    top: -25px;
    background: #fff;
    padding: 10px 20px;
    background: #023F87;
    color: #fff;
    left: 40px;
    border-radius: 32px;
}

#job-details .job-section .description-lists li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

#job-details .job-section .description-lists li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #014C9F;
}

.job-buttons a.mt-btn.mt-border {
    background: #fff;
    padding: 12px 30px;
    border: 1px solid #014C9F;
}

p.mt-note {
    margin: 20px 0 0;
}

.job-section th, .job-section td {
    padding: 7px;
}

#job-details #apply_form .input-group input, #job-details #apply_form .input-group textarea {
    height: 50px;
}

#job-details #apply_form .input-group {
    margin-bottom: 15px;
}

.inputDiv {
    position: relative;
    width: 100%;
    height: 50px;
}

.inputDiv label {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #cdebf8;
    top: 0;
    left: 0;
    color: #039CE2;
    font-weight: bold;
    line-height: 50px;
    text-align: left;
    padding: 0 20px;
}

form#apply_form {
    margin-top: 40px;
}

.inner-content.apply-secton {
    margin-top: -250px;
    background: #fff;
    z-index: 99;
    position: relative;
    padding: 60px 100px;
}

/** couse detail page career section css **/
#careers {
    background: #f5f5f5;
    text-align: center;
}

#careers .tab-content {
    text-align: left;
    margin-top: 20px;
}

.career-tabs .nav-tabs {
    display: block;
}

.career-tabs .nav-item {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

#careers .tab-content li,
.entry-requirements li,
ul.mt-notifications.mt-course .mt-content ul li,
#placements ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

#careers .tab-content li:before,
.entry-requirements li:before,
ul.mt-notifications.mt-course .mt-content ul li:before,
#placements ul li:before {
    position: absolute;
    left: 0;
    top: 2px;
    color: #023F87;
    content: '\f058';
    font-family: "Font Awesome 5 Free";
}

#placements ul li:before {
    color: #fff;
}

.mt-countries {
    padding: 20px;
    margin-bottom: 15px;
    transition: all 0.4s;
    background: #f0fef9;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
}

.mt-countries:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.24);
    transform: scale(1.03);
    background: #fff;
}

#placements .testimonial-block {
    background: #3b3a47;
    border: none;
}

#placements .mt-testimonials h5 {
    color: #fff;
}

#placements .mt-avatar:before {
    background: rgba(255, 255, 255, 0.2);
}

#placements .mt-designation h4 {
    color: #f23339;
    margin-bottom: 0px;
}

.career-tabs .nav-tabs .nav-link {
    border: none;
}

.career-tabs .nav-item i {
    margin-right: 8px;
}

.career-tabs .nav-tabs .nav-link.active, .career-tabs .nav-tabs .nav-link:focus, .career-tabs .nav-tabs .nav-link:hover {
    background: transparent;
    color: #C3161C;
    border: none !important;
    outline: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom: 2px solid #C3161C !important;
}

#career-places .container-fluid {
    padding: 0 80px;
}

.career-tabs {
    margin-top: 30px;
}

#career-places {
    background: #c0ecda;
}

.mt-countries h4 {
    color: #023F87;
}

.mt-countries li {
    color: #476257;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
    padding-left: 20px;
    position: relative;
}

.mt-countries li:before {
    position: absolute;
    left: 0;
    top: 11px;
    width: 10px;
    height: 2px;
    background: #333;
    content: '';
    opacity: 0.3;
}

#course-details h2, #course-details h2 span {
    color: #fff !important;
}

.float-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    opacity: 0.7;
}

#iims-academy .img-div {
    margin-top: 160px;
}

#iims-academy .img-div img {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.24);
}

#iims-academy .content-div {
    padding-left: 30px;
}

.course-nav ul {
    text-align: center;
}

a.side-blog {
    color: #fff;
}

a.side-blog:hover {
    text-decoration: underline;
}

span.day.ng-binding {
    font-size: 18px;
}

.col-wrap {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.mt-columns {
    display: inline-block;
    width: 100%;
}

#apply-course {
    background: rgba(255, 255, 255, 0.9);
    z-index: 99999;
}

#apply-course .modal-dialog {
    margin-top: 100px;
}

#appointment {
    background: rgba(255, 255, 255, 0.9);
    z-index: 99999;
}

#appointment .modal-dialog {
    margin-top: 100px;
}

#overlay {
    background: rgba(255, 255, 255, 0.9);
    z-index: 99999;
}

#overlay .modal-dialog {
    margin-top: 100px;
}

div#facility-lists .owl-nav i {
    display: none;
}

.partner-image img {
    height: 80px;
    width: auto !important;
}

ul.social-info li a i {
    font-size: 18px;
}

/*** latest added css ***/
.inner-page header {
    position: relative;
}

.wpcf7-form-control-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputDiv label i {
    padding-right: 10px;
}

.logo-sec span img {
    height: 45px;
    width: auto !important;
    margin-left: 20px;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.fancybox-container {
    z-index: 999999 !important;
}

.heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
    display: inline-block;
    vertical-align: middle;
}

.job-buttons a {
    margin: 0 15px;
}

.video-section {
    overflow: hidden;
}

.video-section #mt-video {
    width: 33.3333%;
    float: left;
    padding: 10px;
    margin-bottom: 30px;
}

.video-section #mt-video h4 {
    min-height: 50px;
    margin-top: 20px;
}

div#gallery-section {
    padding: 60px 0;
}

.aigpl-breadcrumb-wrp {
    text-align: center;
    margin: -15px 0 25px;
    font-size: 18px;
    font-weight: bold;
}

#awards .mt-content img {
    height: 80px;
    width: auto !important;
    filter: drop-shadow(rgba(255, 255, 255, 0.3) 0 0 40px);
}

p.award-img {
    text-align: center;
}

span.university-img {
    margin: 20px 10px 0px;
    width: 180px;
    display: inline-block;
    vertical-align: top;
}

span.university-img a {
    min-height: 47px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

#linked-university {
    text-align: center;
}

#ucsi-university .about-intro {
    margin-bottom: 0;
}

#linked-university .mt-title h2 {
    text-align: center;
}

#ucsi-university .about-intro .intro-text {
    text-align: left;
    padding-left: 20px;
}

#ucsi-university .about-intro .intro-text p {
    font-size: 16px;
    font-weight: normal;
}

.inner-intro img {
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

#facilities .slider-image figure:before {
    display: none;
}


/*------------------------fb-widget--------------------------*/
.floatinglikebox{
    /*background: url("https://4.bp.blogspot.com/-r3cGfmXXnsM/WTLotJ07ZRI/AAAAAAAAgas/p7bK5NlgXE8E2hnDwdVij6CFfzu7vJhowCLcB/s1600/floatingfble.png") no-repeat scroll left center transparent !important;*/
    display:block;
    float:right;
    height:220px;
    padding:0 5px 0 40px;
    width:290px;
    z-index:99999;
    position:fixed;
    right:-250px;
    top:15%;
}
.mt-testimonials.ucsi-testimony .mt-avatar img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    background: #f5f5f5;
    border: 2px solid #C3161C;
}
.mt-testimonials.ucsi-testimony  .mt-avatar:before {
    display: none;
}
.modal-content .mt-btn {
    padding: 8px 25px;
    font-size: 16px;
    margin-top: 20px;
}
.floatinglikebox img{margin-left: -40px;}
.floatinglikebox .floatingfb{
    border:none;
    position:relative;
    display:block;
    top: -136px;
}
.floatinglikebox span{
    bottom:10px;
    font:11px tahoma,verdana,arial,sans-serif;
    position:absolute;
    right:6px;
    text-align:right;
    z-index:99999;
}
.floatinglikebox span a{
    color:#808080;
    text-decoration:none;
}
.floatinglikebox span a:hover{
    text-decoration:underline;
}
.modal-content .faq span.faq-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: normal;
}
.modal-content .faq ul li h6{
	font-size: 16px;
}
.modal-content .faq ul li h6.on .faq-icon {
    transform: rotate(180deg);
    right: -5px;
    position: absolute;
    top: 15px;
}
/*----------------------------------------------------*/
