<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: REVIEW OF THE WEBINAR: AI &#038; ML: WHAT&#8217;S IN IT FOR EVERYONE?</title>
	<atom:link href="https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/feed/" rel="self" type="application/rss+xml" />
	<link>https://achsnepal.edu.np/2020/06/13/review-of-the-webinar-ai-ml-whats-in-it-for-everyone/</link>
	<description></description>
	<lastBuildDate>Sun, 05 Jul 2020 21:55:50 +0545</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.10</generator>
</channel>
</rss>
