<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>News &#8211; ACHS College</title>
	<atom:link href="https://achsnepal.edu.np/category/news/feed/" rel="self" type="application/rss+xml" />
	<link>https://achsnepal.edu.np</link>
	<description></description>
	<lastBuildDate>Mon, 15 Jun 2020 12:57:12 +0545</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.10</generator>

<image>
	<url>https://achsnepal.edu.np/wp-content/uploads/2019/07/cropped-ACHS-logo-used-32x32.png</url>
	<title>News &#8211; ACHS College</title>
	<link>https://achsnepal.edu.np</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>REVIEW OF WEBINAR: GETTING HANDS-ON WITH R</title>
		<link>https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/</link>
		<comments>https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/#respond</comments>
		<pubDate>Mon, 08 Jun 2020 08:52:41 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=3205</guid>
		<description><![CDATA[<p>Our college has been doing webinars on every Sunday and Wednesday on different topics. This Sunday, we had two days&#8217; session on June 5th and 6th on &#8216;Getting hands-on with R&#8216; by Mr. Binot Jung Bogati He is an alumnus of our college who is a data scientist and data miner. The session was informative [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/">REVIEW OF WEBINAR: GETTING HANDS-ON WITH R</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>Our college has been doing webinars on every Sunday and Wednesday on different topics. This Sunday, we had two days&#8217; session on June 5th and 6th on &#8216;<strong>Getting hands-on with R</strong>&#8216; by <strong>Mr. Binot Jung Bogati</strong></p>



<p>He is an alumnus of our college who is a data scientist and data miner. The session was informative for ACHS&#8217;s students as well as for attendees from outside the college. In these two days, we learnt the basics of R of programming and its uses, data loading, packages installing and importing and data visualizing. We started this session from very basic, like the use of R studio to data loading and visualizing. </p>



<p>I learned that R is a programming language and free software environment for statistical computing and graphics which is widely used among statisticians and data miners for developing statistical software and data analysis. In addition to this, he also explained the debugging in R studio, build-in function in R language, and also gave resource material to learn more about the R programming</p>



<p>This session was very fruitful for a student like me who didn&#8217;t have any knowledge of R programming and R studio. I would like to thank our mentor <strong>Mr. Binot Jung Bogati</strong> for your precious time, giving the resources and insight on R and our collage management team for creating such a teaching and learning environment and making this time productive. Looking forward to more such webinars</p>



<p><strong>Lhakpa Dolma Sherpa, BCA 3rd Semester.</strong></p>



<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;-</p>



<p>Coming to the webinar with no prior knowledge of R, I did not feel pressured as the pace of the session was to my preference. I appreciate the resources <strong>Mr. Binod Jung Bogati</strong>, the resource person had prepared for us so that we could follow along.</p>



<p>I cannot say that I have developed complete knowledge of R in the 4+ hours, that would undermine R. But I can say for sure that I have   developed a good foundation in these 2 sessions. These sessions were   definitely resourceful.  </p>



<p><strong>Momik Shrestha, BCA 3rd Semester.<br></strong></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/">REVIEW OF WEBINAR: GETTING HANDS-ON WITH R</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/06/08/review-of-webinar-getting-hands-on-with-r/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>IT CLUB MEMBERSHIP DETAILS</title>
		<link>https://achsnepal.edu.np/2020/02/02/it-club-membership-details/</link>
		<comments>https://achsnepal.edu.np/2020/02/02/it-club-membership-details/#respond</comments>
		<pubDate>Sun, 02 Feb 2020 16:24:17 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://achsnepal.edu.np/?p=2946</guid>
		<description><![CDATA[<p>Congratulations for making up to here !&#160;Thank you for showing interest in our club.Since a lot of you guys have fill up form and show interest for membership of Club , but only few will be able to represent your class and become member of club. So, for further selection we have create two challenges [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/02/02/it-club-membership-details/">IT CLUB MEMBERSHIP DETAILS</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p><strong>Congratulations for making up to here !&nbsp;</strong><strong>Thank you for showing interest in our club.</strong><br>Since
 a lot of you guys have fill up form and show interest for membership of
 Club , but only few will be able to represent your class and become 
member of club. So, for further selection we have create two challenges 
for you guys and selection will be made on the basis of it : </p>



<p><strong>Task 1 : <br></strong><strong>Make
 a video of 1-2 mins Why should you choose you as member of ACHS IT Club
 ? (What contributions can you make if become member of ACHS IT Club. </strong><br><br><strong>Task 2: <br></strong><strong>Prepare a short blog post on topic &#8220;What change would you bring for IT sector in Nepal&#8221; and send us in (docs or pdf) format.<br></strong><br>&#8211; You can mail video on <a href="mailto:itclubachs@gmail.com" rel="noreferrer noopener" target="_blank">itclubachs@gmail.com</a> directly or email us the drive link.(make sure your drive folder is public) or you can upload in our drive. <br><strong>Link</strong> : <a href="https://drive.google.com/drive/u/9/folders/13r-mCtD1YSx0hMmYgXTrx9bKqtJBQvBO" rel="noreferrer noopener" target="_blank">https://drive.google.com/drive/u/9/folders/13r-mCtD1YSx0hMmYgXTrx9bKqtJBQvBO</a></p>



<p>&#8211; Document of blog can be sent directly on email : <a href="mailto:itclubachs@gmail.com" rel="noreferrer noopener" target="_blank">itclubachs@gmail.com</a> . Don&#8217;t forget to mention your name, class and section.</p>



<p><strong>Deadline : Feb 07, 2020 (Friday)<br></strong><br>If you have any kinds of inquiries please contact on below handles : <br>Email : <a href="mailto:itclubachs@gmail.com" rel="noreferrer noopener" target="_blank">itclubachs@gmail.com</a><br>Phone: &nbsp;+977-9865055831<br>or message us on our facebook page : <a href="https://www.facebook.com/ACHSITClub/" rel="noreferrer noopener" target="_blank">https://www.facebook.com/ACHSITClub/</a></p>



<p>Website : <a href="https://achsitclub.github.io/" rel="noreferrer noopener" target="_blank">https://achsitclub.github.io/</a></p>



<p><em>Also we&#8217;re conducting workshop on Modern HTML and CSS within a week. Hope you guys will enjoy the session.</em><br><em><strong>With Regards,</strong></em></p>



<p><em><strong>ACHS IT Club</strong></em></p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2020/02/02/it-club-membership-details/">IT CLUB MEMBERSHIP DETAILS</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2020/02/02/it-club-membership-details/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>IIMS, collaborated as IHG Academy</title>
		<link>https://achsnepal.edu.np/2019/06/06/iims-collaborated-as-ihg-academy/</link>
		<comments>https://achsnepal.edu.np/2019/06/06/iims-collaborated-as-ihg-academy/#respond</comments>
		<pubDate>Thu, 06 Jun 2019 10:47:08 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://iimscollege.edu.np/?p=2653</guid>
		<description><![CDATA[<p>On 9th January 2019, IIMS College hosted the IHG academy inauguration ceremony to mark its official collaboration with the Intercontinental Hotels Group PLC (IHG). One of the world’s leading hotel companies, IHG has over 5,500 hotels spread across 100 countries and a workforce of more than 375,000. Through the collaboration, IIMS is now a member [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/06/06/iims-collaborated-as-ihg-academy/">IIMS, collaborated as IHG Academy</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>On 9th January 2019, IIMS College hosted the IHG academy inauguration ceremony to mark its official collaboration with the Intercontinental Hotels Group PLC (IHG). One of the world’s leading hotel companies, IHG has over 5,500 hotels spread across 100 countries and a workforce of more than 375,000.</p>



<p>Through the collaboration, IIMS is now a member of IHG Academy, a platform where IHG hotels and corporate offices collaborate with education providers and community groups to help local people build their hospitality skills and improve their employability. Each IHG Academy has three things in common: they collaborate with local education providers and/or community groups; they provide a work experience placement, and they give feedback to each individual on placement. Within a global framework, each IHG Academy is tailored to best meet the needs of the local community they serve. Since its launch in 2006, IHG Academy has continued to grow and now spans over 60 countries around the world.</p>



<p>The brands of IHG includes InterContinental Hotels and Resorts, Hotel Indigo, Kimpton Hotels and Restaurants, EVEN Hotels, Hualuxe Hotels and Resorts, Crowne Plaza Hotels and Resorts, Holiday Inn, Holiday Inn Club Vacations, Holiday Inn Express, Holiday Inn Resorts, Staybridge Suites, Candlewood Suites, and Avid Hotels. In Nepal, Soaltee Crowne Plaza, one of the leading deluxe 5-star hotels having 52 years of legacy has been the only flag bearer of the IHG. Through this partnership, BHM students at IIMS will receive frequent orientations and training from the IHG Academy. Also, with its leading size and international scale, IIMS students are put at a high priority by IHG for internships and job opportunities. The collaboration is a step further in IIMS’s mission of developing its BHM students as one of the best hoteliers with strong personal and professional values.</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/06/06/iims-collaborated-as-ihg-academy/">IIMS, collaborated as IHG Academy</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2019/06/06/iims-collaborated-as-ihg-academy/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>ALUMNI MEET 2017</title>
		<link>https://achsnepal.edu.np/2019/03/30/alumni-meet-2017/</link>
		<comments>https://achsnepal.edu.np/2019/03/30/alumni-meet-2017/#respond</comments>
		<pubDate>Sat, 30 Mar 2019 10:04:41 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://staging.themenepal.info/iims/?p=950</guid>
		<description><![CDATA[<p>ALUMNI MEET 2017 [MBA MARCH 2015 BATCH] in support with BA. (Hons) Hospitality Students of our college. SESSION DETAILS:SESSION ONE: Interaction with alumni and their experience at college along with their future prospects in relation to the upliftment of the value of college in long-run by driving their juniors in the successful path of true [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/03/30/alumni-meet-2017/">ALUMNI MEET 2017</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p> ALUMNI MEET 2017 [MBA MARCH 2015 BATCH] in support with BA. (Hons) Hospitality Students of our college.</p>



<p><br><strong>SESSION DETAILS:</strong><br><strong>SESSION ONE:</strong> Interaction with alumni and their experience at college along with their future prospects in relation to the upliftment of the value of college in long-run by driving their juniors in the successful path of true professionalism.<br><strong>SESSION TWO:</strong> Dinner served by the BA. (Hons) Hospitality Students of our college<br><strong>SESSION THREE:</strong> Recognition of their <g class="gr_ gr_17 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="17" data-gr-id="17">sucessfully</g> completion of MBA degree from our college <g class="gr_ gr_20 gr-alert gr_gramm gr_inline_cards gr_run_anim Grammar multiReplace" id="20" data-gr-id="20">with</g> handing them &#8220;token of love&#8221; from our CEO.<br>We wish them a very prosperous future ahead!<br>IIMS LINCOLN ACADEMICS </p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/03/30/alumni-meet-2017/">ALUMNI MEET 2017</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2019/03/30/alumni-meet-2017/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Research Methodology Workshop</title>
		<link>https://achsnepal.edu.np/2019/03/30/research-methodology-workshop/</link>
		<comments>https://achsnepal.edu.np/2019/03/30/research-methodology-workshop/#respond</comments>
		<pubDate>Sat, 30 Mar 2019 10:03:11 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://staging.themenepal.info/iims/?p=947</guid>
		<description><![CDATA[<p>Full Day Research Methodology Workshop For MBA 2ND SEMESTER students at Mirable Resort, Dhulikhel Date: July 29, 2017Objective of the research workshop: To impart our MBA students with the knowledge of effective use of Research Methodology for Business Decision Making. SESSION DETAILS:SESSION ONE: Asst. Prof. Dr. Prakash C. Bhattarai; Kathmandu University, School of Education[Proposal and [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/03/30/research-methodology-workshop/">Research Methodology Workshop</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p> Full Day Research Methodology Workshop For MBA 2ND SEMESTER students at <g class="gr_ gr_16 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace" id="16" data-gr-id="16">Mirable</g> Resort, Dhulikhel</p>



<p><br><strong>Date: July 29, 2017</strong><br><g class="gr_ gr_17 gr-alert gr_gramm gr_inline_cards gr_run_anim Grammar only-ins doubleReplace replaceWithoutSep" id="17" data-gr-id="17">Objective</g> of the research workshop: To impart our MBA students with the knowledge of effective use of Research Methodology for Business Decision Making.</p>



<p><br><strong>SESSION DETAILS:</strong><br>SESSION ONE: Asst. Prof. Dr. Prakash C. Bhattarai; Kathmandu University, School of Education<br>[Proposal and Report Writing for Academic Research]<br><strong>SESSION TWO:</strong> Dr. Popular Gentle, Program Director, CARE Nepal<br>[Proposal Writing and Report Writing style in INGO sectors]<br><strong>SESSION THREE</strong>: Dr. Saroj Gyawali, MBA FACULTY<br>•<strong> Application of SPSS:</strong> Data entry, tabulation and classification, Correlation and regression analysis, testing of hypothesis: t-test, ANOVA, <g class="gr_ gr_15 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="15" data-gr-id="15">chi square</g><br>•<strong> Practice:</strong> Data entry, analysis <g class="gr_ gr_16 gr-alert gr_gramm gr_inline_cards gr_run_anim Punctuation only-ins replaceWithoutSep" id="16" data-gr-id="16">and</g> presentation<br>End of program (Certificate of participation to the students) </p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/03/30/research-methodology-workshop/">Research Methodology Workshop</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2019/03/30/research-methodology-workshop/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>MBA INDUCTION PROGRAM AUGUST 2017 INTAKE &#8211; DAY 1</title>
		<link>https://achsnepal.edu.np/2019/03/30/mba-induction-program-august-2017-intake-day-1/</link>
		<comments>https://achsnepal.edu.np/2019/03/30/mba-induction-program-august-2017-intake-day-1/#respond</comments>
		<pubDate>Sat, 30 Mar 2019 10:01:05 +0000</pubDate>
		<dc:creator><![CDATA[achs]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://staging.themenepal.info/iims/?p=944</guid>
		<description><![CDATA[<p>August 27, 2017, Lincoln International College, a subsidiary of IIMS Education Foundation organized MBA Induction Program today from 7.00 am onwards till 2hours. The program was chaired by Mr. Pranaya Singh , Chairman of IIMS. The program was more about welcome and celebration including tripartite interaction of faculty-management –students. Session started with the welcome note [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/03/30/mba-induction-program-august-2017-intake-day-1/">MBA INDUCTION PROGRAM AUGUST 2017 INTAKE &#8211; DAY 1</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>August 27, 2017, Lincoln International College, a subsidiary of IIMS Education Foundation organized MBA Induction Program today from 7.00 am onwards till 2hours. The program was chaired by Mr. Pranaya Singh , Chairman of IIMS. The program was more about welcome and celebration including tripartite interaction of faculty-management –students.</p>



<p>Session started with the welcome note from Mr. Satyendra Upreti, Academic Coordinator delivering the Mul-Mantra of success in life is “<strong><em>be different in you to be different from others</em></strong>” adding the academic core values students will earn during their 2 years MBA tenure.</p>



<p>Secondly, the session was open for the faculty-student interaction. Mr. Medan Gauli, MBA faculty for Human Resource Management, aware our students towards an “<strong><em>Important Role of Strategic Human Resources Planning in an Organization”.</em></strong></p>



<p>Following the session, Mr. Narayan Pradhan, MBA faculty for Strategic Management, continues by his quotes about “<strong><em>to be success in career is to have P.H. D. in one’s life”</em></strong>. The students were really encouraged by the term P.H.D throughout the session which in full name can be read as&nbsp;<strong><em>“p-passion h-hunger d-dedication“</em></strong>.</p>



<p>Prof. Dr. Mahendra Prasad Shrestha, a Senior MBA faculty for Business Environment Analysis, emphasizes on “<strong><em>the gap between industry need and unemployed graduates in the job market.</em></strong></p>



<p>Moving towards concluding formal session, Mr. Brihat Singh Boswa, BIT Coordinator handed the program to Mr. Pranaya Singh, Chairman of IIMS. The final session was entirely based on “<strong><em>real business prospects and current scenarios of young graduates of Nepal</em></strong>”. Mr. Pranaya Singh highlights the reason on the increasing immigration among young graduates of Nepal in&nbsp;<strong><em>search of earning quality education and prosperious living standard</em></strong>. Mr. Pranaya Singh presented the factual information portraying about tapping the unexplore opportunity in Nepal from the highly potential educated and skilled young graduates.</p>



<p>Finally, the session ends with cake cutting session in the initiation of Mr. Sabindra Maharjan, CEO, along with college officials and faculty members to celebrate with the student and welcoming them in the academia of IIMS LINCOLN FAMILY.</p>



<p>Overall with the involvement of 73 students along with 10 faculty members and college management team the MBA Induction Program was started with a grand success.</p>



<p>The Induction Programs continues till August 31<sup>st</sup>, 2017 with lots of surprises for our new MBA students.</p>



<p><strong><em>Kudos</em></strong>&nbsp;to the College Management Team and Faculty Members!!</p>
<p>The post <a rel="nofollow" href="https://achsnepal.edu.np/2019/03/30/mba-induction-program-august-2017-intake-day-1/">MBA INDUCTION PROGRAM AUGUST 2017 INTAKE &#8211; DAY 1</a> appeared first on <a rel="nofollow" href="https://achsnepal.edu.np">ACHS College</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://achsnepal.edu.np/2019/03/30/mba-induction-program-august-2017-intake-day-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
